.valuePadding {
     border: 1px insect #ccc;
}
.valuePadding input {
  border: none:
  padding: 0px;
  outline: none;
  text-align:right;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 0;
}
