<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Wizard</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">


<!-- Bootstrap CSS-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<!-- Favicon-->
<link rel="shortcut icon" href="./img/icon.png">

</head>
<body>


	<!-- Begin page content -->
	<!--- start header container -->

	<div id="headerId"></div>







	<div class="container">
	<style>
	  fieldset { padding-bottom: 2%;
	  }
	</style>

		<div>
			<form method="post" action="saveClientObjectivesOnePage">
				<fieldset>
					<legend>
						Client Objectives - <span th:text="${wizard.name}"></span>
					</legend>

					<fieldset>
						<legend>PRODUCT / SERVICE</legend>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="introduceNewDepartment"
									type="checkbox"
									th:checked="${dataPageModel?.introduceNewDepartment}">
									Introduce New Department/Products/Services</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="featureSpecificProducts"
									type="checkbox"
									th:checked="${dataPageModel?.featureSpecificProducts}">
									Feature Specific Products/Services</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input
									name="callAttentiontoBrandsPrivateLabelsCarried"
									type="checkbox"
									th:checked="${dataPageModel?.callAttentiontoBrandsPrivateLabelsCarried}">
									Call Attention to Brands/Private Labels Carried</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="promoteOffPriceItemsServices"
									type="checkbox"
									th:checked="${dataPageModel?.promoteOffPriceItemsServices}">
									Promote Off-price Items/Services</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="retainCurrentConsumers"
									type="checkbox"
									th:checked="${dataPageModel?.retainCurrentConsumers}">
									Utilize Co-op/Vendor Dollars</label>
							</div>

						</div>

					</fieldset>

					<fieldset>
						<legend>CONSUMER</legend>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="retainCurrentConsumers"
									type="checkbox"
									th:checked="${dataPageModel?.retainCurrentConsumers}">
									Retain/Recapture Consumers</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="IncreaseCustomerVisits"
									type="checkbox"
									th:checked="${dataPageModel?.increaseCustomerVisits}">
									Increase Frequency of Customer Visits</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="increaseTrafficLeadCalls"
									type="checkbox"
									th:checked="${dataPageModel?.increaseTrafficLeadCalls}">
									Grow New Traffic/Lead Calls</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="expandTargetConsumers"
									type="checkbox"
									th:checked="${dataPageModel?.expandTargetConsumers}">
									Expand Target Consumers (by age, sex, geography)</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="changeConsumerAttitudes"
									type="checkbox"
									th:checked="${dataPageModel?.changeConsumerAttitudes}">
									Change Consumer Attitudes</label>
							</div>

						</div>

					</fieldset>


					<fieldset>
						<legend>PROMOTION</legend>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="makePromotionalEventsStronger"
									type="checkbox"
									th:checked="${dataPageModel?.makePromotionalEventsStronger}">
									Make Promotional Events Stronger</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="increaseDigitalMobileOnlineResponse"
									type="checkbox"
									th:checked="${dataPageModel?.increaseDigitalMobileOnlineResponse}">
									Develop Digital/Mobile/Social Strategies</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="developDatabaseMarketing"
									type="checkbox"
									th:checked="${dataPageModel?.developDatabaseMarketing}">
									Develop Database Marketing (Email and Text)</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="initiateCauseMarketingProgram"
									type="checkbox"
									th:checked="${dataPageModel?.initiateCauseMarketingProgram}">
									Initiate Cause Marketing Programs</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="developSpeciallyStagedEvent"
									type="checkbox"
									th:checked="${dataPageModel?.developSpeciallyStagedEvent}">
									Develop Specially Staged Events</label>
							</div>

						</div>

					</fieldset>

					<fieldset>
						<legend>BRAND</legend>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="maintainMarketDominance"
									type="checkbox"
									th:checked="${dataPageModel?.maintainMarketDominance}">
									Maintain Market Dominance</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="improveBusinessNameBrand"
									type="checkbox"
									th:checked="${dataPageModel?.improveBusinessNameBrand}">
									Elevate Business Brand/Image</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="establishorReestablishBusinessImage"
									type="checkbox"
									th:checked="${dataPageModel?.establishorReestablishBusinessImage}">
									Improve Reputation and Listing Management</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="createPentUpDemand" type="checkbox"
									th:checked="${dataPageModel?.createPentUpDemand}">
									Enhance Website (Mobile, Response, SEO, SEM)</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="increaseMarketShare" type="checkbox"
									th:checked="${dataPageModel?.increaseMarketShare}">
									Increase Market Share</label>
							</div>

						</div>
						<div class="form-group">

							<div class="checkbox">
								<label><input name="other" type="checkbox"
									th:checked="${dataPageModel?.other}"> Other:</label>
							</div>

						</div>

					</fieldset>


					
	<input type="hidden" name="introduceNewDepartmentSortOrder" th:value="${dataPageModel?.introduceNewDepartmentSortOrder}" >
	<input type="hidden" name="featureSpecificProductsSortOrder" th:value="${dataPageModel?.featureSpecificProductsSortOrder}"  >
	<input type="hidden" name="callAttentiontoBrandsPrivateLabelsCarriedSortOrder" th:value="${dataPageModel?.callAttentiontoBrandsPrivateLabelsCarriedSortOrder}" >
	<input type="hidden" name="promoteOffPriceItemsServices" th:value="${dataPageModel?.promoteOffPriceItemsServices}">

	<input type="hidden" name="retainCurrentConsumersSortOrder" th:value="${dataPageModel?.retainCurrentConsumersSortOrder}">
	<input type="hidden" name="increaseCustomerVisitsSortOrder" th:value="${dataPageModel?.increaseCustomerVisitsSortOrder}">
	<input type="hidden" name="increaseTrafficLeadCallsSortOrder" th:value="${dataPageModel?.increaseTrafficLeadCallsSortOrder}">
	<input type="hidden" name="expandTargetConsumersSortOrder" th:value="${dataPageModel?.expandTargetConsumersSortOrder}">
	<input type="hidden" name="changeConsumerAttitudesSortOrder" th:value="${dataPageModel?.changeConsumerAttitudesSortOrder}">

	<input type="hidden" name="makePromotionalEventsStrongerSortOrder" th:value="${dataPageModel?.makePromotionalEventsStrongerSortOrder}" >
	<input type="hidden" name="increaseDigitalMobileOnlineResponseSortOrder" th:value="${dataPageModel?.increaseDigitalMobileOnlineResponseSortOrder}" >
	<input type="hidden" name="developAQuarterlySpikeSortOrder"  th:value="${dataPageModel?.developAQuarterlySpikeSortOrder}">
	<input type="hidden" name="developDatabaseMarketingSortOrder" th:value="${dataPageModel?.developDatabaseMarketingSortOrder}">
	<input type="hidden" name="initiateCauseMarketingProgramSortOrder" th:value="${dataPageModel?.initiateCauseMarketingProgramSortOrder}">
	<input type="hidden" name="developSpeciallyStagedEventSortOrder" th:value="${dataPageModel?.developSpeciallyStagedEventSortOrder}">

	<input type="hidden" name="maintainMarketDominanceSortOrder" th:value="${dataPageModel?.maintainMarketDominanceSortOrder}">
	<input type="hidden" name="improveBusinessNameBrandSortOrder" th:value="${dataPageModel?.improveBusinessNameBrandSortOrder}" >
	<input type="hidden" name="establishorReestablishBusinessImageSortOrder" th:value="${dataPageModel?.establishorReestablishBusinessImageSortOrder}" >
	<input type="hidden" name="createPentUpDemandSortOrder" th:value="${dataPageModel?.createPentUpDemandSortOrder}">
	<input type="hidden" name="increaseMarketShareSortOrder" th:value="${dataPageModel?.increaseMarketShareSortOrder}">

	<input type="hidden" name="otherSortOrder" th:value="${dataPageModel?.otherSortOrder}">
					
					
					
					
					
					<input type="hidden" id="nextPage"
						th:value="'redirect:/MarketPlaceCompetitionPage?ID=' + ${wizard.wizardid}"
						name="nextPage" /> <input type="hidden" id="previousPage"
						th:value="'redirect:/PresentedToPage?ID=' + ${wizard.wizardid}"
						name="previousPage" /> <input type="hidden" id="publishPage"
						th:value="'redirect:/Publish?ID=' + ${wizard.wizardid}"
						name="publishPage" /> <input type="hidden" id="wizardId"
						th:value="${wizard.wizardid}" name="wizardId" /> <input
						type="hidden" id="wizarddataid"
						th:value="${wizardData?.wizarddataid}" name="wizarddataid" /> <input
						name="next" type="submit" value="Next" class="btn btn-primary"
						style="background-color: #C0B879;" /> <input name="publish"
						type="submit" value="Publish" class="btn btn-primary"
						style="background-color: #C0B879;" /> <input name="previous"
						value="Previous" type="submit" class="btn btn-primary"
						style="background-color: #C0B879;" />
				</fieldset>
			</form>
			<div class="container" style="padding-top: 2%;">

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="7"
						aria-valuemin="0" aria-valuemax="100"
						style="width: 5%; background-color: #C0B879;">7%</div>
				</div>
			</div>


		</div>

	</div>




	<!-- JavaScript files-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<script>
		$(function() {
			$("#headerId").load("header.html");
		});
	</script>





</body>
</html>

