<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Confidential Client Evaluation I</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="./img/icon.png">
</head>

<body>
    <!-- Begin page content -->
    <!--- start header container -->
    <div id="headerId"></div>
    <div class="container">
        <style>
            .media {
                padding: 1%;
            }
        </style>
        <form method="post" action="saveConfidentialClientEvaluationOnePage">
            <fieldset>
                <legend>
                    (9 of 20) Confidential Client Evaluation - <span th:text="${wizard.name}"></span>
                </legend>
                <p>A. What was spent last year in:</p>
                <div class="row media">
                    <div class="col-6">
                        Media:
                    </div>
                    <div class="col-6">
                        Amount:
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text" th:value="${dataPageModel?.lastYearLabel1}" maxlength="35" class="form-control" id="lastYearLabel1" name="lastYearLabel1" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="lastYearValue1" maxlength="35"
			       th:value="${dataPageModel?.lastYearValue1}" data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="lastYearValue1" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input maxlength="35" type="text" th:value="${dataPageModel?.lastYearLabel2}" class="form-control" id="lastYearLabel2" name="lastYearLabel2" />
                    </div>
                    <div class="col-6">
                        <input maxlength="35" type="text" class="form-control" id="lastYearValue2"
			       th:value="${dataPageModel?.lastYearValue2}"  data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="lastYearValue2" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input maxlength="35" type="text" th:value="${dataPageModel?.lastYearLabel3}" class="form-control" id="lastYearLabel3" name="lastYearLabel3" />
                    </div>
                    <div class="col-6">
                        <input maxlength="35" type="text" class="form-control" id="lastYearValue3" th:value="${dataPageModel?.lastYearValue3}" data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="lastYearValue3" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input maxlength="35" type="text" th:value="${dataPageModel?.lastYearLabel4}"  class="form-control" id="lastYearLabel4" name="lastYearLabel4" />
                    </div>
                    <div class="col-6">
                        <input maxlength="35" type="text" class="form-control" id="lastYearValue4" th:value="${dataPageModel?.lastYearValue4}"  data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="lastYearValue4" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input maxlength="35" type="text" th:value="${dataPageModel?.lastYearLabel5}" class="form-control" id="lastYearLabel5" name="lastYearLabel5" />
                    </div>
                    <div class="col-6">
                        <input maxlength="35" type="text" class="form-control" id="lastYearValue5" th:value="${dataPageModel?.lastYearValue5}" data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="lastYearValue5" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text" th:value="${dataPageModel?.lastYearLabel6}" class="form-control" id="lastYearLabel6" name="lastYearLabel6" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="lastYearValue6" th:value="${dataPageModel?.lastYearValue6}" data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="lastYearValue6" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        Total Media Investment:
                    </div>
                    <div class="col-6">
                        <input type="text" 
                        class="form-control" 
                        id="totalMediaInvestment" 
                        th:value="${dataPageModel?.totalMediaInvestment}" 
                        readonly name="totalMediaInvestment" />
                    </div>
                </div>

                <div class="row media">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                B.
                            </div>
                            <div class="col-10">
                                <input type="text" maxlength="35"
                                th:value="${dataPageModel?.totalMediaInvestment}"  class="form-control"
                                    data-type="currency" 
                                    pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                                      id="totalMediaInvestmentInput" name="totalMediaInvestmentInput">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-2">
                                /
                            </div>
                            <div class="col-10">
                                <input oninput="totalRow()" type="number" maxlength="35"
                                th:value="${dataPageModel?.pctTAIGrossSalesLastYear}" class="form-control" id="pctTAIGrossSalesLastYear" name="pctTAIGrossSalesLastYear">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        
                          <div class="row">  
                        
                            <div class="col-2">
                                =
                            </div>
                        
                            <div class="col-10">
                                <input type="text"  maxlength="35"
                                th:value="${dataPageModel?.grossSalesLastyear}" readonly class="form-control" id="grossSalesLastyear" name="grossSalesLastyear">
                            </div>
                        
                        </div>
                        
                        
                    </div>
                </div>
                
                
                

                <div class="row media">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-10">
                                <div class="row">
                                   Total Advertising Investment
                                </div>
                                 <div class="row">
                                   (TAI) Last 12 Months
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-10">
                                Adv % of Gross Sales
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        
                        <div class="row">  
                        
                            <div class="col-2">
                               
                            </div>
                        
                            <div class="col-10">
                                Gross Sales Last Year
                            </div>
                        
                        </div>
                        
                        
                        
                    </div>
                </div>
                
                
                
                   <div class="row media">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                C.
                            </div>
                            <div class="col-10">
                                <input data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" type="text" maxlength="35"
				       th:value="${dataPageModel?.taiNext12Months}" class="form-control" id="taiNext12Months" name="taiNext12Months">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-2">
                                /
                            </div>
                            <div class="col-10">
                                <input type="number" th:value="${dataPageModel?.pctGrossSales}" oninput="totalRow()"
				       class="form-control" maxlength="35"
				        id="pctGrossSales" name="pctGrossSales">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        
                          <div class="row">  
                        
                            <div class="col-2">
                                =
                            </div>
                        
                            <div class="col-10">
                                <input type="text" readonly
				       th:value="${dataPageModel?.estimatedGrossSalesNext12Months}"
				       class="form-control" id="estimatedGrossSalesNext12Months" name="estimatedGrossSalesNext12Months">
                            </div>
                        
                        </div>
                        
                        
                    </div>
                </div>  
                
                
                
                 
                          <div class="row media">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-10">
                                <div class="row">
                                   Total Advertising Investment (TAI) 
                                </div>
                                 <div class="row">
                                   Next 12 Months
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-10">
                                Adv % of Gross Sales
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        
                        <div class="row">  
                        
                            <div class="col-2">
                               
                            </div>
                        
                            <div class="col-10">
                                Estimated Gross Sales Next 12 Months
                            </div>
                        
                        </div>
                        
                        
                        
                    </div>
                </div>      
           
                
                <p>D. Proposed 12 Month Media Allocation:</p>
                <div class="row media">
                    <div class="col-6">
                        Media:
                    </div>
                    <div class="col-6">
                        Amount:
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text" maxlength="35"
			       th:value="${dataPageModel?.proposedLabel1}"  class="form-control" id="proposedLabel1" name="proposedLabel1" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="proposedValue1" maxlength="35"
			       th:value="${dataPageModel?.proposedValue1}" data-type="currency"
			       pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="proposedValue1" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text" th:value="${dataPageModel?.proposedLabel2}" maxlength="35"
			       class="form-control" id="proposedLabel2" name="proposedLabel2" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="proposedValue2" 
                               th:value="${dataPageModel?.proposedValue2}"  data-type="currency" 
                               pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="proposedValue2" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text"  maxlength="35" 
			       th:value="${dataPageModel?.proposedLabel3}" class="form-control" id="proposedLabel3" name="proposedLabel3" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" maxlength="35"
			       id="proposedValue3" th:value="${dataPageModel?.proposedValue3}"
			       data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="proposedValue3" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text" th:value="${dataPageModel?.proposedLabel4}" maxlength="35"
			       class="form-control" id="proposedLabel4" name="proposedLabel4" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" id="proposedValue4" maxlength="35"
			       th:value="${dataPageModel?.proposedValue4}"  data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="proposedValue4" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input maxlength="35" type="text" th:value="${dataPageModel?.proposedLabel5}"  class="form-control" id="proposedLabel5" name="proposedLabel5" />
                    </div>
                    <div class="col-6">
                        <input  maxlength="35" type="text" class="form-control" id="proposedValue5" th:value="${dataPageModel?.proposedValue5}"
                               data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="proposedValue5" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        <input type="text" th:value="${dataPageModel?.proposedLabel6}" maxlength="35"
                               class="form-control" id="proposedLabel6" name="proposedLabel6" />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" maxlength="35"
			       id="proposedValue6" th:value="${dataPageModel?.proposedValue6}"
                                data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" name="proposedValue6" />
                    </div>
                </div>
                <div class="row media">
                    <div class="col-6">
                        Total Media Investment:
                    </div>
                    <div class="col-6">
                        <input type="text" 
			       class="form-control" 
			       id="totalMediaInvestmentTwo" 
			       th:value="${dataPageModel?.totalMediaInvestmentTwo}" readonly name="totalMediaInvestmentTwo" />
                    </div>
                </div>
                
                <div class="row media">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                                E.
                            </div>
                            <div class="col-10">
                                <input type="text" maxlength="35"
                                 th:value="${dataPageModel?.taiShouldBe}"
                                  data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" 
                                        class="form-control" id="taiShouldBe" 
                                       name="taiShouldBe"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-2">
                                /
                            </div>
                            <div class="col-10">
                                <input type="number" th:value="${dataPageModel?.industryAverage}" oninput="totalRow()" 
                                       class="form-control" id="industryAverage" name="industryAverage">
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        
                          <div class="row">  
                        
                            <div class="col-2">
                                =
                            </div>
                        
                            <div class="col-10">
                                <input type="text" th:value="${dataPageModel?.salesGoals}" class="form-control" readonly
				       id="salesGoals" name="salesGoals">
                            </div>
                        
                        </div>
                        
                        
                    </div>
                </div>  
                
<div class="row media">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-10">
                                <div class="row">
                                    Stretch Goal Total Advertising 
                                </div>
                                 <div class="row">
                                   Investment (TAI) Next 12 Months
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-10">
                                <div class="row ">
                                   Adv % of Gross Sales
                               </div>   
                               <div class="row" style="color:red;">
                                   (using industry average or if
                               </div> 
                                
                               <div class="row" style="color:red;">
                                   not known the current Adv %
                               </div>                
                          <div class="row" style="color:red;">
                                    of gross sales)
                               </div>                             
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        
                        <div class="row">  
                        
                            <div class="col-2">
                               
                            </div>
                        
                            <div class="col-10">
                                <div class="row"> 
                                
                                 Stretch Sales Goal
                                  </div>   
                                  <div class="row"> 
                                
                                  For Next 12 Months
                                  </div> 
                            </div>
                        
                        </div>
                        
                        
                        
                    </div>
                </div>                      
                
                
               <input type="hidden" id="nextPage"
						th:value="'redirect:/PlanAProposedPage?ID=' + ${wizard.wizardid}"
						name="nextPage" /> 
				<input type="hidden" id="previousPage"
						th:value="'redirect:/TargetMarketingPage?ID=' + ${wizard.wizardid}"
						name="previousPage" /> 
				<input type="hidden" id="publishPage"
						th:value="'redirect:/Publish?ID=' + ${wizard.wizardid}"
						name="publishPage" /> 
				<input type="hidden" id="wizardId"
						th:value="${wizard.wizardid}" name="wizardId" />
				 <input
						type="hidden" id="wizarddataid"
						th:value="${wizardData?.wizarddataid}" name="wizarddataid" /> <input
						name="next" type="submit" value="Next" class="btn btn-primary"
						style="background-color: #C0B879;" /> 
				<input name="publish"
						type="submit" value="Publish" class="btn btn-primary"
						style="background-color: #C0B879;" /> 
				<input name="previous"
						value="Previous" type="submit" class="btn btn-primary"
						style="background-color: #C0B879;" /> 
                
                
                
                
              
           
           
           
            </fieldset>
        </form>
        <div class="container" style="padding-top:2%;">

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="5"
						aria-valuemin="0" aria-valuemax="100"
						style="width: 36%; background-color: #C0B879;">36%</div>
				</div>
			</div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="js/currency.js "></script>
    <script src="js/ConfidentialClientEvaluationOnePage.js"></script>
    <script>
        $(function() {
            $("#headerId ").load("header.html ");
        });
    </script>
</body>

</html>
