<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Wizard</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">


<!-- Bootstrap CSS-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<!-- Favicon-->
<link rel="shortcut icon" href="./img/icon.png">

</head>
<body>

 
	<!-- Begin page content -->
	   <!--- start header container -->
       
        <div id="headerId"></div>

	

	<div class="container">
	
		<div>
			<form>
			 <fieldset>
			 <legend>Marketing
				Solutions</legend>
				<div class="form-group">
					<label for="presentedtoId">Presented to</label>
					<input
						type="text" class="form-control" id="presentedtoId"
						aria-describedby="presentedtoIdHelp" placeholder="Enter Presented to"/> <small
						id="emailHelp" class="form-text text-muted">We'll never
						share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="presentedBusinessId">Presented Business</label> 
					<input
						type="text" class="form-control" id="presentedBusinessId"
						placeholder="Business"/>
				</div>
							<div class="form-group">
					<label for="presentedById">Presented By</label> 
					<input
						type="text" class="form-control" id="presentedById"
						placeholder="By"/>
				</div>
				
				<button type="submit" class="btn btn-primary">Next</button>
			 </fieldset>
			</form>


		</div>

	</div>




	<!-- JavaScript files-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
		
		 <script>
            $(function () {
                $("#headerId").load("header.html");
            });
        </script>

</body>
</html>

