<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>(3 of 26) Marketplace Competition</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">

<!-- Bootstrap CSS-->
 


<!-- Bootstrap CSS-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="css/scr.css">
<!-- Favicon-->
<link rel="shortcut icon" href="./img/tools_wizard.png">

</head>
<body>


	<!-- Begin page content -->
	<!--- start header container -->

	<div id="headerId"></div>



	<div class="container" style="padding-top: 1%;">

		<div>
			<form method="post" action="saveMarketPlaceCompetitionPage" autocomplete="off">
				<fieldset>
					<legend>
						(3 of 26) Marketplace Competition - <span th:text="${wizard.name}"></span>
					</legend>
					<div class="form-group">
						<label for="firstTierBusiness">1st Tier Business (#1 in
							market revenue)</label> <input
							th:value="${dataPageModel?.firstTierBusiness}" type="text" onClick="this.setSelectionRange(0, this.value.length)"
							maxlength="150" class="form-control" id="firstTierBusiness"
							name="firstTierBusiness" aria-describedby="firstTierBusiness" oninput="calculate()"/>
					</div>
					<div class="form-group">
						<label for="secondTierBusiness">2nd Tier Business (#2 in
							market revenue)</label> <input type="text" onClick="this.setSelectionRange(0, this.value.length)"
							th:value="${dataPageModel?.secondTierBusiness}" maxlength="150"
							class="form-control" id="secondTierBusiness"
							name="secondTierBusiness" oninput="calculate()"/>
					</div>
					<div class="form-group">
						<label for="thirdTierBusiness">3rd Tier Business (#3 in
							market revenue)</label> <input type="text" onClick="this.setSelectionRange(0, this.value.length)"
							th:value="${dataPageModel?.thirdTierBusiness}"
							class="form-control" id="thirdTierBusiness" maxlength="150"
							name="thirdTierBusiness" />
					</div>
					<div class="form-group">
						<label for="fourthTierBusiness">4th Tier Business (#4 or
							smaller revenue in market)</label> <input type="text" onClick="this.setSelectionRange(0, this.value.length)"
							th:value="${dataPageModel?.fourthTierBusiness}" maxlength="150"
							class="form-control" id="fourthTierBusiness"
							name="fourthTierBusiness" />
					</div>
					<div class="form-group">
						<label for="fourthTierBusiness">Who is the main
							competition?</label>
						<div class="row">
							<div class="col-sm-auto">(A)</div>
							<div class="col-5">
							    
								<input type="text" onClick="this.setSelectionRange(0, this.value.length)" th:value="${dataPageModel?.competitionA}"
									class="form-control" id="competitionA" maxlength="150"
									readonly tabindex="-1"  name="competitionA" />
							</div>
							<div class="col-sm-auto">(B)</div>
							<div class="col-5">
							    
								<input type="text" onClick="this.setSelectionRange(0, this.value.length)" th:value="${dataPageModel?.competitionB}"
									class="form-control" id="competitionB" maxlength="150"
									readonly tabindex="-1"  name="competitionB" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="competitionStrengthA">What are their
							strengths?</label>
						<div class="row">
							<div class="col-sm-auto">(A)</div>
							<div class="col-5">
								<input type="text" onClick="this.setSelectionRange(0, this.value.length)"
									th:value="${dataPageModel?.competitionStrengthA}" maxlength="150"
									class="form-control" id="competitionStrengthA"
									name="competitionStrengthA" />
							</div>
							<div class="col-sm-auto">(B)</div>
							<div class="col-5">
								<input type="text" onClick="this.setSelectionRange(0, this.value.length)"
									th:value="${dataPageModel?.competitionStrengthB}"
									class="form-control" id="competitionStrengthB" maxlength="150"
									name="competitionStrengthB" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="competitionWeaknessA">What are their
							weaknesses?</label>
						<div class="row">
							<div class="col-sm-auto">(A)</div>
							<div class="col-5">
								<input type="text" onClick="this.setSelectionRange(0, this.value.length)"
									th:value="${dataPageModel?.competitionWeaknessA}"
									class="form-control" id="competitionWeaknessA" maxlength="150"
									name="competitionWeaknessA"/>
							</div>
							<div class="col-sm-auto">(B)</div>
							<div class="col-5">
								<input type="text" onClick="this.setSelectionRange(0, this.value.length)"
									th:value="${dataPageModel?.competitionWeaknessB}"
									class="form-control" id="competitionWeaknessB" maxlength="150"
									name="competitionWeaknessB" />
							</div>
						</div>
					</div>
					<div
						class="form-group custom-control custom-switch-extra custom-switch custom-switch-md">
						<input name="excluded" id="excluded"
							th:checked="${wizardData?.excluded}" type="checkbox"
							class="custom-control-input"> <label for="excluded"
							class="custom-control-label">Exclude from presentation</label>
					</div>
					<input type="hidden" id="nextPage"
						th:value="'redirect:/ClientObjectivesOnePage?ID=' + ${wizard.encrypt}"
						name="nextPage" /> <input type="hidden" id="previousPage"
						th:value="'redirect:/TeamCommitmentPage?ID=' + ${wizard.encrypt}"
						name="previousPage" /> <input type="hidden" id="publishPage"
						th:value="'redirect:/Publish?ID=' + ${wizard.encrypt}"
						name="publishPage" /> <input type="hidden" id="wizardId"
						th:value="${wizard.encrypt}" name="wizardId" /> <input
						type="hidden" id="wizarddataid"
						th:value="${wizardData?.wizarddataid}" name="wizarddataid" /> <input
						name="next" value="Next" type="submit" class="btn btn-primary"
						style="background-color: #C0B879;" /> <input name="publish"
						value="Publish" type="submit" class="btn btn-primary"
						style="background-color: #C0B879;" /> <input name="previous"
						value="Previous" type="submit" class="btn btn-primary"
						style="background-color: #C0B879;" />
				</fieldset>
			</form>
			<div class="container" style="padding-top: 2%;">

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="5"
						aria-valuemin="0" aria-valuemax="100"
						style="width: 12%; background-color: #C0B879;">12%</div>
				</div>
			</div>

		</div>

	</div>




	<!-- JavaScript files-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
<script src="js/marketplaceCompetition.js"></script>

		<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			// Store
            sessionStorage.setItem("ID", /*[[${wizard.encrypt}]]*/);
			$("#headerId").load("header.html");
		});
		/*]]>*/
	</script>

</body>
</html>

