<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Target Marketing</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">

<!-- Bootstrap CSS-->
  

<!-- Bootstrap CSS-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<!-- Favicon-->
<link rel="shortcut icon" href="./img/tools_wizard.png">

</head>
<body>


	<!-- Begin page content -->
	<!--- start header container -->

	<div id="headerId"></div>

	<div class="container" style="padding-top: 1%;">
		<form method="post" action="saveTargetMarketingPage" autocomplete="off">
			<fieldset>
			
				<legend>
					(8 of 26) Target Marketing - <span
						th:text="${wizard.name}"></span>
				</legend>
				
<div class="row">
<div class="col-6">
   <div class="row, form-group">
      <span class="form-control, border-0">What is the percentage of your client's "target" consumers?</span>
   </div>
</div>
<div class="col-5">
   <div class="row">
     <div class="col-5">
       <div class="row, form-group"><span class="form-control, border-0" >Men</span></div>
       <div class="row, form-group">
            <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control" id="pctMen" th:value="${dataPageModel?.pctMen}" name="pctMen" oninput="calculateWomen()" min=0 max=100 />
       </div>
     </div>
     <div class="col-5">
       <div class="row, form-group"><span class="form-control, border-0">Women</span></div>
       <div class="row, form-group">
            <input autofocus="autofocus" onfocus="this.select()" type="number" th:value="${dataPageModel?.pctWomen}" class="form-control" id="pctWomen" name="pctWomen" oninput="calculateMen()" min=0 max=100 />
       </div>        
     </div>
   </div>
</div>
</div>				

				<div class="form-group">
					<label for="householdIncome">What is the perceived household income of your "target" consumers?</label> 
					<select class="form-control" 
						id="householdIncome" name="householdIncome" 
						th:value="${dataPageModel?.householdIncome}" 
						aria-describedby="householdIncome" >
				    <option value="0"></option>
                    <option value="1">over $150,000</option>
                    <option value="2">$100,000 - $149,000</option>
                    <option value="3"> $50,000 - $99,000</option>
                    <option value="4">under $50,000</option>
                    </select>					
				</div>
			
				
				<div class="form-group">
					<label for="describeIdealTargetConsumer">How else would you describe your ideal "target" consumer (i.e., geo-targeting, home value, behavior, lifestyle, interests, family structure, etc.)?</label> <input type="text" onClick="this.setSelectionRange(0, this.value.length)"
						th:value="${dataPageModel?.describeIdealTargetConsumer}" 
						class="form-control" id="describeIdealTargetConsumer" 
						name="describeIdealTargetConsumer" />
				</div>
	
<div class="row">
  <div class="col-2">
       <div class="row, form-group"><span class="form-control, border-0">Age Group</span></div>
       <div class="row, form-group"><span class="form-control, border-0">Have</span></div>
       <div class="row, form-group"><span class="form-control, border-0">Want</span></div>
  </div>
  <div class="col-10">
  <div class="row">
  <div class="col-2">
       <div class="row, form-group"><span class="form-control, border-0">12-18</span></div>
 	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="have12to18" th:value="${dataPageModel?.have12to18}" 
		   name="have12to18" min=0 max=10 />
	   </div> 
	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="want12to18" th:value="${dataPageModel?.want12to18}"  
		   name="want12to18" min=0 max=10 />
	   </div> 
  </div>
  <div class="col-2">
       <div class="row, form-group"><span class="form-control, border-0">19-25</span></div>
 	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="have19to25" th:value="${dataPageModel?.have19to25}" 
		   name="have19to25" min=0 max=10 />
	   </div> 
	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="want19to25" th:value="${dataPageModel?.want19to25}" 
		   name="want19to25" min=0 max=10 />
	   </div>    
  </div>
  <div class="col-2">
       <div class="row, form-group"><span class="form-control, border-0">26-35</span></div>
 	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="have26to35" th:value="${dataPageModel?.have26to35}"  
		   name="have26to35" min=0 max=10 />
	   </div> 
	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="want26to35" th:value="${dataPageModel?.want26to35}"  
		   name="want26to35" min=0 max=10 />
	   </div> 
  </div>	  
  <div class="col-2">
         <div class="row, form-group"><span class="form-control, border-0">36-45</span></div>
 	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="have36to45" th:value="${dataPageModel?.have36to45}"  
		  name="have36to45" min=0 max=10 />
	   </div> 
	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="want36to45" th:value="${dataPageModel?.want36to45}"  
		   name="want36to45" min=0 max=10 />
	   </div> 
  </div> 
  <div class="col-2">
       <div class="row, form-group"><span class="form-control, border-0">46-55</span></div>
 	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="have46to55" th:value="${dataPageModel?.have46to55}"  
		   name="have46to55" min=0 max=10 />
	   </div> 
	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="want46to55" th:value="${dataPageModel?.want46to55}"  
		   name="want46to55" min=0 max=10 />
	   </div> 
  </div> 
  <div class="col-2">
       <div class="row, form-group"><span class="form-control, border-0">55-56+</span></div>
 	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="have56Plus" th:value="${dataPageModel?.have56Plus}"  
		   name="have56Plus" min=0 max=10 />
	   </div> 
	   <div class="row, form-group">
		  <input autofocus="autofocus" onfocus="this.select()" type="number" class="form-control"	id="want55Plus" th:value="${dataPageModel?.want55Plus}"  
		   name="want55Plus" min=0 max=10 />
	   </div> 
  </div> 
    </div>      
  </div>
</div>	
	
	                   <script th:inline="javascript">
							/*<![CDATA[*/
							document.getElementById('householdIncome').value=/*[[${dataPageModel?.householdIncome}]]*/;												
							
							/*]]>*/
						</script>


				<input type="hidden" id="nextPage"
					th:value="'redirect:/ConfidentialClientEvaluationOnePage?ID=' + ${wizard.wizardid}"
					name="nextPage" /> 
					
					<input type="hidden" id="previousPage"
					th:value="'redirect:/StrategicMarketingPageThree?ID=' + ${wizard.wizardid}"
					name="previousPage" /> 
					
					<input type="hidden" id="publishPage"
					th:value="'redirect:/Publish?ID=' + ${wizard.wizardid}"
					name="publishPage" /> 
					
					<input type="hidden" id="wizardId"
					th:value="${wizard.wizardid}" name="wizardId" /> <input
					type="hidden" id="wizarddataid"
					th:value="${wizardData?.wizarddataid}" name="wizarddataid" /> <input
					name="next" type="submit" value="Next" class="btn btn-primary"
					style="background-color: #C0B879;" /> <input name="publish"
					type="submit" value="Publish" class="btn btn-primary"
					style="background-color: #C0B879;" /> <input name="previous"
					value="Previous" type="submit" class="btn btn-primary"
					style="background-color: #C0B879;" />
			</fieldset>
		</form>
		<div class="container" style="padding-top: 2%;">

			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="7"
					aria-valuemin="0" aria-valuemax="100"
					style="width: 40%; background-color: #C0B879;">40%</div>
			</div>
		</div>




	</div>

	<script	src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	
	
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
	
	
	
	<script src="js/currency.js"></script>
	<script src="js/planbBEPCalculate.js"></script>
    <script src="js/targetmarketing.js"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			// Store
            sessionStorage.setItem("ID", /*[[${wizard.wizardid}]]*/);
			$("#headerId").load("header.html");
		});
		/*]]>*/
	</script>





</body>
</html>
