<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>(2 of 26) Team Commitment</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">

<!-- Bootstrap CSS-->



<!-- Bootstrap CSS-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="css/scr.css">
<!-- Favicon-->
<link rel="shortcut icon" href="./img/icon.png">

</head>
<body>


	<!-- Begin page content -->
	<!--- start header container -->

	<div id="headerId"></div>







	<div class="container" style="padding-top: 1%;">

		<div>
			<form method="post" action="saveTeamCommitmentPage"
				autocomplete="off">
				<fieldset>
					<legend>
						(2 of 26) Team Commitment - <span th:text="${wizard.name}"></span>
					</legend>

					<fieldset>
						<legend>Top Level</legend>
						<div class="form-group">
							<label for="topLevelName">Name</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								class="form-control" id="topLevelName"
								th:value="${dataPageModel?.topLevelName}" maxlength="35"
								name="topLevelName" aria-describedby="topLevelName" />
						</div>
						<div class="form-group">
							<label for="topLevelTitle">Title</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								th:value="${dataPageModel?.topLevelTitle}" class="form-control"
								id="topLevelTitle" name="topLevelTitle" />
						</div>
					</fieldset>


					<fieldset>
						<legend>2nd Level</legend>
						<div class="form-group">
							<label for="secondLevelName">Name</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								class="form-control" id="secondLevelName" name="secondLevelName"
								maxlength="35" th:value="${dataPageModel?.secondLevelName}"
								aria-describedby="secondLevelName" />
						</div>
						<div class="form-group">
							<label for="secondLevelTitle">Title</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								th:value="${dataPageModel?.secondLevelTitle}"
								class="form-control" id="secondLevelTitle" maxlength="35"
								name="secondLevelTitle" />
						</div>
					</fieldset>

					<fieldset>
						<legend>3rd Level</legend>
						<div class="form-group">
							<label for="thirdLevelName">Name</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								class="form-control" id="thirdLevelName"
								th:value="${dataPageModel?.thirdLevelName}" maxlength="35"
								name="thirdLevelName" aria-describedby="thirdLevelName" />
						</div>
						<div class="form-group">
							<label for="thirdLevelTitle">Title</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								maxlength="35" th:value="${dataPageModel?.thirdLevelTitle}"
								class="form-control" id="thirdLevelTitle" name="thirdLevelTitle" />
						</div>
					</fieldset>

					<fieldset>
						<legend>4th Level</legend>
						<div class="form-group">
							<label for="fourthLevelName">Name</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								class="form-control" id="fourthLevelName" maxlength="35"
								th:value="${dataPageModel?.fourthLevelName}"
								name="fourthLevelName" aria-describedby="fourthLevelName" />
						</div>
						<div class="form-group">
							<label for="fourthLevelTitle">Title</label> <input type="text"
								onClick="this.setSelectionRange(0, this.value.length)"
								maxlength="35" th:value="${dataPageModel?.fourthLevelTitle}"
								class="form-control" id="fourthLevelTitle"
								name="fourthLevelTitle" />
						</div>
					</fieldset>
					<div
						class="form-group custom-control custom-switch-extra custom-switch custom-switch-md">
						<input name="excluded" id="excluded"
							th:checked="${wizardData?.excluded}" type="checkbox"
							class="custom-control-input"> <label for="excluded"
							class="custom-control-label">Exclude from presentation</label>
					</div>

					<div style="padding-bottom: 2%;"></div>
					<!-- include space before buttons -->

					<input type="hidden" id="nextPage"
						th:value="'redirect:/MarketPlaceCompetitionPage?ID=' + ${wizard.encrypt}"
						name="nextPage" /> <input type="hidden" id="previousPage"
						th:value="'redirect:/PresentedToPage?ID=' + ${wizard.encrypt}"
						name="previousPage" /> <input type="hidden" id="publishPage"
						th:value="'redirect:/Publish?ID=' + ${wizard.encrypt}"
						name="publishPage" /> <input type="hidden" id="wizardId"
						th:value="${wizard.encrypt}" name="wizardId" /> <input
						type="hidden" id="wizarddataid"
						th:value="${wizardData?.wizarddataid}" name="wizarddataid" /> <input
						name="next" type="submit" value="Next" class="btn btn-primary"
						style="background-color: #C0B879;" /> <input name="publish"
						type="submit" value="Publish" class="btn btn-primary"
						style="background-color: #C0B879;" /> <input name="previous"
						value="Previous" type="submit" class="btn btn-primary"
						style="background-color: #C0B879;" />
				</fieldset>
			</form>
			<div class="container" style="padding-top: 2%;">

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="7"
						aria-valuemin="0" aria-valuemax="100"
						style="width: 8%; background-color: #C0B879;">8%</div>
				</div>
			</div>


		</div>

	</div>




	<!-- JavaScript files-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			// Store
            sessionStorage.setItem("ID", /*[[${wizard.encrypt}]]*/);
			$("#headerId").load("header.html");
		});
		/*]]>*/
	</script>





</body>
</html>

