<div class="grid-container" style="padding-top: 5%;">
			<div class="w3-row" >
				<div class="w3-col m2 arrow-text">SATURATION</div>
				<div class="w3-col m2 arrow_dim">

					<img src="./img/arrow_black.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m2 arrow-text">13 WEEKS</div>

				<div class="w3-col m3 arrow_dim">

					<img src="./img/arrow_black.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="col-sm-1 arrow-text">AWARENESS</div>

			</div>

			<!--  second row -->
			<div class="w3-row" style="padding-top: 2%;">
				<div class="col-sm-2 arrow-text">PENETRATION</div>
				<div class="col-sm-2 arrow_dim">

					<img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="col-sm-2 arrow-text">26 WEEKS</div>

				<div class="col-sm-3 arrow_dim">

					<img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="col-sm-1 arrow-text">RECOGNITION</div>





			</div>


			<!-- last row -->
			<div class="w3-row arrow-text" style="padding-top: 2%;">
				<div class="w3-col m2">DOMINANCE</div>
				<div class="w3-col m2 arrow_dim">

					<img src="./img/arrow_yellow.svg" alt=""
						class="img-fluid longrange">
				</div>



				<div class="w3-col m2 arrow-text">52 WEEKS</div>

				<div class="w3-col m3 arrow_dim">

					<img src="./img/arrow_yellow.svg" alt=""
						class="img-fluid longrange">
				</div>



				<div class="w3-col m1 arrow-text">ACCEPTANCE</div>
			</div>
		</div> <!-- last of container div -->