<!-- begin of AdvantagesLongRangeFragment -->
<div th:fragment="AdvantagesLongRange"
	class="grad w3-container pageBreakInside">



	<div>
		<a id="AdvantagesLongRange"></a>

			


	</div>

	<div class="whiteGrad">
		
		<div>
			<h1 class="text-center ">Advantages to Long-Range Strategic Planning</h1>
		</div>
		
		<div class="w3-row">

        <div class="w3-col m4">

            <img src="./img/arrow_black.svg" alt="" class="img-fluid longrange">
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
            Long-term investments placed for a year usually achieve lower rates.
        </div>

    </div>
    
    <div class="w3-row">

        <div class="w3-col m4">

            <img src="./img/arrow_yellow.svg" alt="" class="img-fluid longrange">
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
            Advertising “Away from the Clutter” gains the competitive edge.
        </div>

    </div>
		

<div class="w3-row">

        <div class="w3-col m4">

           <img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
            Consistent continuity creates lasting impressions, not short-term attention.
        </div>

    </div>



<div class="w3-row">

        <div class="w3-col m4">

            <img src="./img/arrow_black.svg" alt="" class="img-fluid longrange">
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
           Consistent advertising creates the image of credibility and stability.
        </div>

    </div>


<div class="w3-row">

        <div class="w3-col m4">

           <img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
          All successful businesses consider long-range strategic planning a smart business decision.
        </div>

    </div>


		


	</div>
  
  
  
  
	<div class="w3-container d-print-none" style="padding-top: 2%;">
		<button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
		<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
		<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
	</div>
		<div class="w3-row">
		      <div class="CopyRightId w3-col m8"></div>
		      <div class=" w3-col m2"></div>
		      <div align="right" class="w3-col m2">
			-CONFIDENTIAL- 16     
		      </div>	      
		</div>

</div>
<!-- end of if statement -->

</div>
<!-- end of AdvantagesLongRangeFragment -->
