<!-- begin of AdvantagesLongRangeFragment -->
<div th:fragment="AdvantagesLongRange"
	class="grad w3-container pageBreakInside">



	<div>
		<a id="AdvantagesLongRange"></a>

			<h1 class="text-center ">Advantages to Long-Range Strategic Planning</h1>
		


	</div>

	<div class="whiteGrad">
		
		<div>
			Advantages to Long-Range Strategic Planning
		</div>
		
		<div class="w3-row">

        <div class="w3-col m4">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="228.000000pt" height="100.000000pt" viewBox="0 0 228.000000 100.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M1790 842 l0 -122 -810 0 -810 0 2 -232 3 -233 808 -3 807 -2 0 -118
0 -117 237 238 238 237 -238 237 -237 238 0 -123z" />
                </g>
            </svg>
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
            Long-term investments placed for a year usually achieve lower rates.
        </div>

    </div>
    
    <div class="w3-row">

        <div class="w3-col m4">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="228.000000pt" height="100.000000pt" viewBox="0 0 228.000000 100.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M1790 842 l0 -122 -810 0 -810 0 2 -232 3 -233 808 -3 807 -2 0 -118
0 -117 237 238 238 237 -238 237 -237 238 0 -123z" />
                </g>
            </svg>
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
            Advertising “Away from the Clutter” gains the competitive edge.
        </div>

    </div>
		

<div class="w3-row">

        <div class="w3-col m4">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="228.000000pt" height="100.000000pt" viewBox="0 0 228.000000 100.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path class="fill-arrow-green"  d="M1790 842 l0 -122 -810 0 -810 0 2 -232 3 -233 808 -3 807 -2 0 -118
0 -117 237 238 238 237 -238 237 -237 238 0 -123z" />
                </g>
            </svg>
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
            Consistent continuity creates lasting impressions, not short-term attention.
        </div>

    </div>



<div class="w3-row">

        <div class="w3-col m4">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="228.000000pt" height="100.000000pt" viewBox="0 0 228.000000 100.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M1790 842 l0 -122 -810 0 -810 0 2 -232 3 -233 808 -3 807 -2 0 -118
0 -117 237 238 238 237 -238 237 -237 238 0 -123z" />
                </g>
            </svg>
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
           Consistent advertising creates the image of credibility and stability.
        </div>

    </div>


<div class="w3-row">

        <div class="w3-col m4">

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="228.000000pt" height="100.000000pt" viewBox="0 0 228.000000 100.000000" preserveAspectRatio="xMidYMid meet">

                <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M1790 842 l0 -122 -810 0 -810 0 2 -232 3 -233 808 -3 807 -2 0 -118
0 -117 237 238 238 237 -238 237 -237 238 0 -123z" />
                </g>
            </svg>
        </div>

        <div class="w3-col m8 bordered w3-xlarge">
          All successful businesses consider long-range strategic planning a smart business decision.
        </div>

    </div>


		


	</div>
  
  
  
  
	<div class="w3-container d-print-none" style="padding-top: 2%;">
		<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
		<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
		<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
	</div>
		<div class="w3-row">
		      <div class="CopyRightId w3-col m8"></div>
		      <div class=" w3-col m2"></div>
		      <div align="right" class="w3-col m2">
			-CONFIDENTIAL- 16     
		      </div>	      
		</div>

</div>
<!-- end of if statement -->

</div>
<!-- end of AdvantagesLongRangeFragment -->
