<!-- begin of ClientObjectivesPageModelfragment -->
<div th:fragment="ClientObjectivesPage"
	class="grad w3-container pageBreakInside">
	<div th:if="${PublishModel.clientObjectivesPage}" class="container"
		style="padding-top: 1%;">
		
		<div>
			<a id="ClientObjectivesPage"></a>
			<div class="text-justify">
				<h1 class="text-center w3-text-white">Strategic Marketing</h1>
			</div>
			
			
		
		</div>
		
		<!-- content-->
		<div class="whiteGrad mce-content-body grid-container">
            <div>
            <p>If you had the power to improve three things in your marketing, what would 
            they be in order of their priority?
            </p>
            </div>
            <div>
            <ol>
		<li th:each="selectedModel : ${ClientObjectivesPageModel}" 
	            th:if="${selectedModel.sortOrder} != 0">
				
			
			<span> 
						
						
						<script th:inline="javascript">
					          /*<![CDATA[*/
					    console.group("translate label to text");
						var label = /*[[${selectedModel?.label}]]*/'default';
						console.log("label " + label);
						//message = "'" + message + "'";
						var text = getLabelText(label);
						console.log("text	 " + text);
						document.write(text);
						console.groupEnd();
						/*]]>*/
						</script>
						
						</span>
				  </li>



				</ol>
            
            </div>
            
            
            
            
			<fieldset>
				<legend> Client Objectives </legend>

				<fieldset>
					<legend>PRODUCT / SERVICE</legend>
					<div class="grid-item">

						<div>
							<label> <span id="introduceNewDepartmentLabel"
								class="bold-text"> <script>
									addLabel("introduceNewDepartmentLabel");
									</script>

							</span>
							</label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="featureSpecificProductsLabel"> <script>
									addLabel("featureSpecificProductsLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span
								id="callAttentiontoBrandsPrivateLabelsCarriedLabel"> <script>
									addLabel("callAttentiontoBrandsPrivateLabelsCarriedLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="promoteOffPriceItemsServicesLabel">
									<script>
									addLabel("promoteOffPriceItemsServicesLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="utilizeCoopVendorDollarsLabel">
									<script>
									addLabel("utilizeCoopVendorDollarsLabel");
									</script>

							</span></label>
						</div>

					</div>

				</fieldset>

				<fieldset>
					<legend>CONSUMER</legend>
					<div class="grid-item">

						<div>
							<label> <span id="retainCurrentConsumersLabel"> <script>
									addLabel("retainCurrentConsumersLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="increaseCustomerVisitsLabel"> <script>
									addLabel("increaseCustomerVisitsLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="increaseTrafficLeadCallsLabel">
									<script>
									addLabel("increaseTrafficLeadCallsLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="expandTargetConsumersLabel"> <script>
									addLabel("expandTargetConsumersLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="changeConsumerAttitudesLabel"> <script>
									addLabel("changeConsumerAttitudesLabel");
									</script>

							</span></label>
						</div>

					</div>

				</fieldset>

				<fieldset>
					<legend>PROMOTION</legend>
					<div class="grid-item">

						<div>
							<label> <span id="makePromotionalEventsStrongerLabel">
									<script>
									addLabel("makePromotionalEventsStrongerLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span
								id="increaseDigitalMobileOnlineResponseLabel"> <script>
									addLabel("increaseDigitalMobileOnlineResponseLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="developDatabaseMarketingLabel">
									<script>
									addLabel("developDatabaseMarketingLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="initiateCauseMarketingProgramLabel">
									<script>
									addLabel("initiateCauseMarketingProgramLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="developSpeciallyStagedEventLabel">
									<script>
									addLabel("developSpeciallyStagedEventLabel");
									</script>

							</span></label>
						</div>

					</div>

				</fieldset>

				<fieldset>
					<legend>BRAND</legend>
					<div class="grid-item">

						<div>
							<label> <span id="maintainMarketDominanceLabel"> <script>
									addLabel("maintainMarketDominanceLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="improveBusinessNameBrandLabel">
									<script>
									addLabel("improveBusinessNameBrandLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span
								id="establishorReestablishBusinessImageLabel"> <script>
									addLabel("establishorReestablishBusinessImageLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="createPentUpDemandLabel"> <script>
									addLabel("createPentUpDemandLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="increaseMarketShareLabel"> <script>
									addLabel("increaseMarketShareLabel");
									</script>

							</span></label>
						</div>

					</div>
					<div class="grid-item">

						<div>
							<label> <span id="otherLabel"> <script>
									addLabel("otherLabel");
									</script>

							</span>
							</label>
						</div>

					</div>

				</fieldset>

			</fieldset>
            <div>
            
            <p>What are the biggest misconceptions consumers have about the business?</p>
            <p style="padding-left: 5%;margin-top: -10px;" th:text="${StrategicMarketingPageOne?.misconceptions}" >
            </p>
            
            <p> What are the clients most distinctive selling advantages?</p>
            <p style="padding-left: 5%;margin-top: -10px;;" th:text="${StrategicMarketingPageOne?.sellingAdvantages}" >
            </p>

           </div>
		</div>
			<div class="w3-container d-print-none" style="padding-top: 2%;">
			    <button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
                 <a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
                <button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<div class="CopyRightId"></div>
<!-- select items -->
		<script th:each="selectedModel : ${ClientObjectivesPageModel}" th:inline="javascript">
		/*<![CDATA[*/
		var label = /*[[${selectedModel?.label}]]*/'default';
		addSelection(label);
		/*]]>*/
       </script>

	</div>

	<!-- JavaScript files-->


</div>
