<!-- begin of ClientObjectivesPageModelfragment -->
<div th:fragment="ClientObjectivesPage"
	class="grad w3-container pageBreakInside">
<div th:if="${PublishModel.clientObjectivesPage}" class="container" style="padding-top: 1%;">
<!-- content-->
    <div>

        <fieldset>
            <legend>
                Client Objectives
            </legend>

            <fieldset>
                <legend>PRODUCT / SERVICE</legend>
                <div>

                    <div>
                        <label>

                            <span id="introduceNewDepartmentLabel" class="bold-text">
									<script>
									addLabel("introduceNewDepartmentLabel");
									</script>

									</span>
                        </label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="featureSpecificProductsLabel">
									<script>
									addLabel("featureSpecificProductsLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="callAttentiontoBrandsPrivateLabelsCarriedLabel">
									<script>
									addLabel("callAttentiontoBrandsPrivateLabelsCarriedLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="promoteOffPriceItemsServicesLabel">
									<script>
									addLabel("promoteOffPriceItemsServicesLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="utilizeCoopVendorDollarsLabel">
									<script>
									addLabel("utilizeCoopVendorDollarsLabel");
									</script>

									</span></label>
                    </div>

                </div>

            </fieldset>

            <fieldset>
                <legend>CONSUMER</legend>
                <div>

                    <div>
                        <label>
                            <span id="retainCurrentConsumersLabel">
									<script>
									addLabel("retainCurrentConsumersLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="increaseCustomerVisitsLabel">
									<script>
									addLabel("increaseCustomerVisitsLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="increaseTrafficLeadCallsLabel">
									<script>
									addLabel("increaseTrafficLeadCallsLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="expandTargetConsumersLabel">
									<script>
									addLabel("expandTargetConsumersLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="changeConsumerAttitudesLabel">
									<script>
									addLabel("changeConsumerAttitudesLabel");
									</script>

									</span></label>
                    </div>

                </div>

            </fieldset>

            <fieldset>
                <legend>PROMOTION</legend>
                <div>

                    <div>
                        <label>
                            <span id="makePromotionalEventsStrongerLabel">
									<script>
									addLabel("makePromotionalEventsStrongerLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="increaseDigitalMobileOnlineResponseLabel">
									<script>
									addLabel("increaseDigitalMobileOnlineResponseLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="developDatabaseMarketingLabel">
									<script>
									addLabel("developDatabaseMarketingLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="initiateCauseMarketingProgramLabel">
									<script>
									addLabel("initiateCauseMarketingProgramLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="developSpeciallyStagedEventLabel">
									<script>
									addLabel("developSpeciallyStagedEventLabel");
									</script>

									</span></label>
                    </div>

                </div>

            </fieldset>

            <fieldset>
                <legend>BRAND</legend>
                <div>

                    <div>
                        <label>
                            <span id="maintainMarketDominanceLabel">
									<script>
									addLabel("maintainMarketDominanceLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="improveBusinessNameBrandLabel">
									<script>
									addLabel("improveBusinessNameBrandLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="establishorReestablishBusinessImageLabel">
									<script>
									addLabel("establishorReestablishBusinessImageLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="createPentUpDemandLabel">
									<script>
									addLabel("createPentUpDemandLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="increaseMarketShareLabel">
									<script>
									addLabel("increaseMarketShareLabel");
									</script>

									</span></label>
                    </div>

                </div>
                <div>

                    <div>
                        <label>
                            <span id="otherLabel">
									<script>
									addLabel("otherLabel");
									</script>

									</span>
                        </label>
                    </div>

                </div>

            </fieldset>

        </fieldset>

    </div>
	
	<script th:each="selectedModel : ${ClientObjectivesPageModel}" >
    		addSelection(selectedModel?.label);
       </script>

			
	
	
	
	
	
</div>

<!-- JavaScript files-->


</div>
