<!-- begin of ConfidentialClientEvaluationPageData -->
<div th:fragment="ConfidentialClientEvaluationPageData"
	class="grad w3-container pageBreakInside">
	<div th:if="${PublishModel.confidentialClientEvaluationProposedPage}">
		<!-- determine if we show presentedToPage content -->
		<div>
			<a id="ConfidentialClientEvaluationPageData"></a>

		</div>
		<div class="whiteGrad">
			<div class="inner">
				<h2>Determination of Total Advertising Investment (TAI). This
					is what the client should put back in their business for
					re-investment</h2>


				<div class="centerDiv" style="padding-top: 25px;">
					<div class="inner">
						<div class="w3-col s6">
							<!--  Previous year -->
							<div class="w3-row thick" style="padding-bottom: 15px;">Previous
								Year's Media Allocation</div>
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel1}"
										class="form-control" id="lastYearLabel1" name="lastYearLabel1"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue1}"
										id="lastYearValue1" name="lastYearValue1" />
								</div>
							</div>

							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel2}"
										class="form-control" id="lastYearLabel2" name="lastYearLabel2"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue2}"
										id="lastYearValue2" name="lastYearValue2" />
								</div>
							</div>

							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel3}"
										class="form-control" id="lastYearLabel3" name="lastYearLabel3"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue3}"
										id="lastYearValue3" name="lastYearValue3" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel4}"
										class="form-control" id="lastYearLabel4" name="lastYearLabel4"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue4}"
										id="lastYearValue4" name="lastYearValue4" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel5}"
										class="form-control" id="lastYearLabel5" name="lastYearLabel5"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue5}"
										id="lastYearValue5" name="lastYearValue5" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel6}"
										class="form-control" id="lastYearLabel6" name="lastYearLabel6"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue6}"
										id="lastYearValue6" name="lastYearValue6" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel7}"
										class="form-control" id="lastYearLabel7" name="lastYearLabel7"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue7}"
										id="lastYearValue7" name="lastYearValue7" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel8}"
										class="form-control" id="lastYearLabel8" name="lastYearLabel8"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue8}"
										id="lastYearValue8" name="lastYearValue8" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel9}"
										class="form-control" id="lastYearLabel9" name="lastYearLabel9"
										readonly />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue9}"
										id="lastYearValue9" name="lastYearValue9" />
								</div>
							</div>
							<div class="w3-row">
								<div class="w3-col s2">Total</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="totalMediaInvestment"
										th:value="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestment}"
										readonly tabindex="-1" name="totalMediaInvestment" />
								</div>
							</div>


							<!-- end of row -->












							<!--  add -->
						</div>
					</div>




					<!-- end of previous  -->
					<div class="inner">
						<div class="w3-col s6">
							<!-- Proposed  -->
							<div class="w3-row thick" style="padding-bottom: 15px;">Proposed
								Month Media Allocation</div>

							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel1}"
										class="form-control" id="proposedLabel1" name="proposedLabel1" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue1"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue1}"
										name="proposedValue1" />
								</div>
							</div>
							<!-- end of row -->

							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel2}"
										class="form-control" id="proposedLabel2" name="proposedLabel2" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue2"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue2}"
										name="proposedValue2" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel3}"
										class="form-control" id="proposedLabel3" name="proposedLabel3" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue3"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue3}"
										name="proposedValue3" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel4}"
										class="form-control" id="proposedLabel4" name="proposedLabel4" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue4"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue4}"
										name="proposedValue4" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel5}"
										class="form-control" id="proposedLabel5" name="proposedLabel5" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue5"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue5}"
										name="proposedValue5" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel6}"
										class="form-control" id="proposedLabel6" name="proposedLabel6" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue6"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue6}"
										name="proposedValue6" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel7}"
										class="form-control" id="proposedLabel7" name="proposedLabel7" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue7"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue7}"
										name="proposedValue7" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel8}"
										class="form-control" id="proposedLabel8" name="proposedLabel8" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue8"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue8}"
										name="proposedValue8" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel9}"
										class="form-control" id="proposedLabel9" name="proposedLabel9" />
								</div>
								<div class="w3-col s2">
									<input type="text" class="underline" id="proposedValue9"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue9}"
										name="proposedValue9" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col s2">Total</div>
								<div class="w3-col s2">
									<input id="totalMediaInvestmentTwo" class="underline"
										th:value="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestmentTwo}"
										readonly tabindex="-1" name="totalMediaInvestmentTwo" />
								</div>
							</div>


						</div>
					</div>

					<div style="padding-top: 25px;">


						<div class="w3-row">
							<!-- B -->
							<div class="w3-col s2">
								<u> <pre
										th:text="${'    ' + ConfidentialClientEvaluationPageDataModel?.totalMediaInvestment + '    '}"></pre>
								</u>

							</div>

							<div class="w3-col s1" style="padding-top: 25px;">
								<span> / </span>
							</div>

							<div class="w3-col s2">

								<u> <pre
										th:text="${'    ' + ConfidentialClientEvaluationPageDataModel?.pctTAIGrossSalesLastYear + '%    '}"></pre>
								</u>

							</div>
							<div class="w3-col s1" style="padding-top: 25px;">
								<span> = </span>
							</div>

							<div class="w3-col s2">

								<u> <pre
										th:text="${'    ' + ConfidentialClientEvaluationPageDataModel?.grossSalesLastyear + '%    '}"></pre>
								</u>

							</div>







						</div>

						<div class="w3-row">
							<!-- B -->
							<div class="w3-col s2">
								<span>Total Adv Investment </span>
							</div>
							<div class="w3-col s1">&nbsp;</div>
							<div class="w3-col s2">Next 12 Months</div>
							<div class="w3-col s1">&nbsp;</div>
							<div class="w3-col s2">
								<span>Estimated Gross Sales Next 12 Months </span>
							</div>
						</div>


					</div>

				</div>



				<!--  need to remove -->




				<div class="row media"></div>
				<div class="row media">
					<div class="col-4">
						<div class="row">
							<div class="col-2">B.</div>
							<div class="col-10">
								<input type="text" maxlength="50" readonly tabindex="-1"
									th:value="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestment}"
									class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
									id="totalMediaInvestmentInput" name="totalMediaInvestmentInput">
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2">/</div>
							<div class="col-10">
								<div class="input-group mb-3">
									<input readonly tabindex="-1" type="number" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.pctTAIGrossSalesLastYear}"
										class="form-control" id="pctTAIGrossSalesLastYear"
										name="pctTAIGrossSalesLastYear">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2">=</div>
							<div class="col-10"></div>
						</div>
					</div>
				</div>
				<div class="row media">
					<div class="col-4">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<div class="row">Total Advertising Investment</div>
								<div class="row">(TAI) Last 12 Months</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">Adv % of Gross Sales</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">Gross Sales Last Year</div>
						</div>
					</div>
				</div>
				<div class="row media">
					<div class="col-4">
						<div class="row">
							<div class="col-2">C.</div>
							<div class="col-10">
								<input readonly type="text" maxlength="50"
									th:value="${ConfidentialClientEvaluationPageDataModel?.taiNext12Months}"
									class="form-control" id="taiNext12Months"
									name="taiNext12Months">
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2">/</div>
							<div class="col-10">
								<div class="input-group mb-3">
									<input type="number"
										th:value="${ConfidentialClientEvaluationPageDataModel?.pctGrossSales}"
										readonly class="form-control" maxlength="50" tabindex="-1"
										id="pctGrossSales" name="pctGrossSales">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2">=</div>
							<div class="col-10">
								<input type="text" readonly
									th:value="${ConfidentialClientEvaluationPageDataModel?.estimatedGrossSalesNext12Months}"
									class="form-control" id="estimatedGrossSalesNext12Months"
									name="estimatedGrossSalesNext12Months">
							</div>
						</div>
					</div>
				</div>
				<div class="row media">
					<div class="col-4">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<div class="row">Total Advertising Investment (TAI)</div>
								<div class="row">Next 12 Months</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">Adv % of Gross Sales</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">Estimated Gross Sales Next 12 Months</div>
						</div>
					</div>
				</div>
				<p>D. Proposed 12 Month Media Allocation:</p>
				<div class="row media">
					<div class="col-6">Media:</div>
					<div class="col-6">Amount:</div>
				</div>
				<div class="row media">
					<div class="col-6"></div>
					<div class="col-6"></div>
				</div>






				<div class="row media">
					<div class="col-4">
						<div class="row">
							<div class="col-2">E.</div>
							<div class="col-10">
								<input type="text" maxlength="50" readonly
									th:value="${ConfidentialClientEvaluationPageDataModel?.taiShouldBe}"
									id="taiShouldBe" name="taiShouldBe" />
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2">/</div>
							<div class="col-10">
								<div class="input-group mb-3">
									<input type="number"
										th:value="${ConfidentialClientEvaluationPageDataModel?.industryAverage}"
										class="form-control" id="industryAverage"
										name="industryAverage" readonly tabindex="-1">
									<div class="input-group-append">
										<span class="input-group-text">%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2">=</div>
							<div class="col-10">
								<input type="text"
									th:value="${ConfidentialClientEvaluationPageDataModel?.salesGoals}"
									readonly class="form-control" id="salesGoals" name="salesGoals">
							</div>
						</div>
					</div>
				</div>
				<div class="row media">
					<div class="col-4">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<div class="row">Stretch Goal Total Advertising</div>
								<div class="row">Investment (TAI) Next 12 Months</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<div class="row ">Adv % of Gross Sales</div>
								<div class="row" style="color: red;">(using industry
									average or if</div>
								<div class="row" style="color: red;">not known the current
									Adv %</div>
								<div class="row" style="color: red;">of gross sales)</div>
							</div>
						</div>
					</div>
					<div class="col-4 ">
						<div class="row">
							<div class="col-2"></div>
							<div class="col-10">
								<div class="row">Stretch Sales Goal</div>
								<div class="row">For Next 12 Months</div>
							</div>
						</div>
					</div>

				</div>
				<!--  end of content -->
			</div>
		</div>
		<!--  do not remove -->
		<input type="hidden" id="totalMediaInvestmentInput"
			name="totalMediaInvestmentInput"> <input type="hidden"
			id="pctTAIGrossSalesLastYear"> <input type="hidden"
			id="grossSalesLastyear">
		<!--  end of do not remove -->

		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>

	</div>

	<script src="js/ConfidentialClientEvaluationOnePage.js"></script>
	<!-- end of ConfidentialClientEvaluationPageData -->