<!-- begin of ConfidentialClientEvaluationPageData -->
<div th:fragment="ConfidentialClientEvaluationPageData"
	class="grad w3-container pageBreakInside">
	<div th:if="${PublishModel.confidentialClientEvaluationProposedPage}">
		<!-- determine if we show ConfidentialClientEvaluationPageData content -->
		<div>
			<a id="ConfidentialClientEvaluationPageData"></a>

		</div>
		<div class="whiteGrad">
		
		<div class="w3-container">
				
				<h1 class="text-center">Recommended Reallocation of Total Advertising Investment (TAI)</h1>
			</div>
			<div class="inner">
			


				<div class="centerDiv" style="padding-top: 25px;">
					<div class="inner">
						<div class="w3-col s6">
							<!--  Previous year -->
							<div class="w3-row thick" style="padding-bottom: 15px;"><strong>A. Previous
								Year's Media Allocation </strong></div>
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel1}"
										class="form-control" id="lastYearLabel1" name="lastYearLabel1"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue1}"
										id="lastYearValue1" name="lastYearValue1" />
								</div>
							</div>

							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel2}"
										class="form-control" id="lastYearLabel2" name="lastYearLabel2"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue2}"
										id="lastYearValue2" name="lastYearValue2" />
								</div>
							</div>

							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel3}"
										class="form-control" id="lastYearLabel3" name="lastYearLabel3"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue3}"
										id="lastYearValue3" name="lastYearValue3" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel4}"
										class="form-control" id="lastYearLabel4" name="lastYearLabel4"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue4}"
										id="lastYearValue4" name="lastYearValue4" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel5}"
										class="form-control" id="lastYearLabel5" name="lastYearLabel5"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue5}"
										id="lastYearValue5" name="lastYearValue5" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel6}"
										class="form-control" id="lastYearLabel6" name="lastYearLabel6"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue6}"
										id="lastYearValue6" name="lastYearValue6" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel7}"
										class="form-control" id="lastYearLabel7" name="lastYearLabel7"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue7}"
										id="lastYearValue7" name="lastYearValue7" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel8}"
										class="form-control" id="lastYearLabel8" name="lastYearLabel8"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue8}"
										id="lastYearValue8" name="lastYearValue8" />
								</div>
							</div>


							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text"
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearLabel9}"
										class="form-control" id="lastYearLabel9" name="lastYearLabel9"
										readonly />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" readonly
										th:value="${ConfidentialClientEvaluationPageDataModel?.lastYearValue9}"
										id="lastYearValue9" name="lastYearValue9" />
								</div>
							</div>
							<div class="w3-row">
								<div class="w3-col m6"><strong>Total Adv. Investment</strong></div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="totalMediaInvestment"
										th:value="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestment}"
										readonly tabindex="-1" name="totalMediaInvestment" />
								</div>
							</div>


							<!-- end of row -->












							<!--  add -->
						</div>
					</div>




					<!-- end of previous  -->
					<div class="inner">
						<div class="w3-col s6">
							<!-- Proposed  -->
							<div class="w3-row thick" style="padding-bottom: 15px;">Proposed
								Month Media Allocation</div>

							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel1}"
										class="form-control" id="proposedLabel1" name="proposedLabel1" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue1"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue1}"
										name="proposedValue1" />
								</div>
							</div>
							<!-- end of row -->

							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel2}"
										class="form-control" id="proposedLabel2" name="proposedLabel2" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue2"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue2}"
										name="proposedValue2" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel3}"
										class="form-control" id="proposedLabel3" name="proposedLabel3" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue3"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue3}"
										name="proposedValue3" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel4}"
										class="form-control" id="proposedLabel4" name="proposedLabel4" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue4"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue4}"
										name="proposedValue4" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel5}"
										class="form-control" id="proposedLabel5" name="proposedLabel5" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue5"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue5}"
										name="proposedValue5" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel6}"
										class="form-control" id="proposedLabel6" name="proposedLabel6" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue6"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue6}"
										name="proposedValue6" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel7}"
										class="form-control" id="proposedLabel7" name="proposedLabel7" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue7"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue7}"
										name="proposedValue7" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel8}"
										class="form-control" id="proposedLabel8" name="proposedLabel8" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue8"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue8}"
										name="proposedValue8" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6">
									<input type="text" maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedLabel9}"
										class="form-control" id="proposedLabel9" name="proposedLabel9" />
								</div>
								<div class="w3-col m6">
									<input type="text" class="underline" id="proposedValue9"
										readonly maxlength="50"
										th:value="${ConfidentialClientEvaluationPageDataModel?.proposedValue9}"
										name="proposedValue9" />
								</div>
							</div>
							<!-- end of row -->
							<div class="w3-row">
								<div class="w3-col m6"><strong>Total Adv. Investment</strong></div>
								<div class="w3-col m6">
									<input id="totalMediaInvestmentTwo" class="underline"
										th:value="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestmentTwo}"
										readonly tabindex="-1" name="totalMediaInvestmentTwo" />
								</div>
							</div>


						</div>
					</div>


					<!-- first row -->
					<div class="w3-row" style="padding-top: 4%;"></div>
					<div class="w3-row" style="padding-top: 4%;">
						<div class="w3-col m1 w3-center"><strong>B.</strong></div>
						
						<div class="w3-col m3 w3-center underline"
							th:text="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestment}">
           

						</div>
						
						
						<div class="w3-col m1 w3-center ">/</div>
						<div class="w3-col m3 w3-center underline"
							th:text="${ConfidentialClientEvaluationPageDataModel?.pctTAIGrossSalesLastYear + '%'}">
						</div>



						<div class="w3-col m1 w3-center">=</div>
						<div class="w3-col m3 w3-center underline"
							th:text="${ConfidentialClientEvaluationPageDataModel?.grossSalesLastyear}">

						</div>

					</div>

					<!-- second row -->
					<div class="w3-row">
						<div class="w3-col m1 w3-center">&nbsp;</div>
						<div class="w3-col m3 w3-center bold-text">Total Adv Investment Next
							12 Months</div>
						<div class="w3-col m1 w3-center ">&nbsp;</div>
						<div class="w3-col m3 w3-center bold-text">Adv % of Gross Sales</div>
						<div class="w3-col m1 w3-center">&nbsp;</div>
						<div class="w3-col m3 w3-center bold-text">Estimated Gross Sales next
							12 mos.</div>

					</div>

					<!-- third row -->

					<div class="w3-row" style="padding-top: 1%";>
						<div class="w3-col m1 w3-center"><strong>C.</strong></div>
						
						<div class="w3-col m3 w3-center underline"
							th:text="${ConfidentialClientEvaluationPageDataModel?.taiNext12Months}">$100,000</div>
							
							
						<div class="w3-col m1 w3-center ">/</div>
						<div class="w3-col m3 w3-center underline"
							th:text="${ ConfidentialClientEvaluationPageDataModel?.pctGrossSales + '%'}"></div>
						<div class="w3-col m1 w3-center">=</div>
						<div class="w3-col m3 w3-center underline"
							th:text="${ConfidentialClientEvaluationPageDataModel?.estimatedGrossSalesNext12Months }"></div>

					</div>

					<!-- fifth row -->
					<div class="w3-row">
						<div class="w3-col m1 w3-center">&nbsp;</div>
						<div class="w3-col m3 w3-center bold-text">Stretch Goal Total Adv
							Investment</div>
						<div class="w3-col m1 w3-center ">&nbsp;</div>
						<div class="w3-col m3 w3-center bold-text">Adv % of Gross Sales</div>
						<div class="w3-col m1 w3-center">&nbsp;</div>
						<div class="w3-col m3 w3-center bold-text">Stretch Gross Sales Goals
							Next 12 Months</div>

					</div>


				</div>



				<!--  need to remove -->


			</div>

		</div>
		<!-- end of white content -->



		<!--  do not remove -->
		<input type="hidden" maxlength="50" readonly
			th:value="${ConfidentialClientEvaluationPageDataModel?.taiShouldBe}"
			id="taiShouldBe" name="taiShouldBe" /> <input type="hidden"
			th:value="${ConfidentialClientEvaluationPageDataModel?.industryAverage}"
			id="industryAverage"> <input type="hidden"
			th:value="${ConfidentialClientEvaluationPageDataModel?.salesGoals}"
			readonly class="form-control" id="salesGoals"> <input
			type="hidden" id="totalMediaInvestmentInput"
			name="totalMediaInvestmentInput"> <input type="hidden"
			id="pctTAIGrossSalesLastYear"> <input type="hidden"
			id="grossSalesLastyear"> <input type="hidden"
			th:value="${ConfidentialClientEvaluationPageDataModel?.taiNext12Months}"
			id="taiNext12Months"> <input type="hidden" maxlength="50"
			readonly tabindex="-1"
			th:value="${ConfidentialClientEvaluationPageDataModel?.totalMediaInvestment}"
			class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
			id="totalMediaInvestmentInput" name="totalMediaInvestmentInput">

		<input type="hidden" maxlength="50"
			th:value="${ConfidentialClientEvaluationPageDataModel?.pctTAIGrossSalesLastYear}"
			class="form-control" id="pctTAIGrossSalesLastYear"
			name="pctTAIGrossSalesLastYear"> <input type="hidden"
			th:value="${ConfidentialClientEvaluationPageDataModel?.pctGrossSales}"
			id="pctGrossSales" name="pctGrossSales"> <input type="hidden"
			readonly
			th:value="${ConfidentialClientEvaluationPageDataModel?.estimatedGrossSalesNext12Months}"
			class="form-control" id="estimatedGrossSalesNext12Months"
			name="estimatedGrossSalesNext12Months">
		<!--  end of do not remove -->

		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>

		<div class="w3-row">
			<div class="CopyRightId w3-col m8"></div>
			<div class=" w3-col m2"></div>
			<div align="right" class="w3-col m2">-CONFIDENTIAL- 7</div>
		</div>


		<script src="js/ConfidentialClientEvaluationOnePage.js"></script>
		<!--  end of content -->
	</div>
	<!-- end of ConfidentialClientEvaluationPageData -->
</div>
