<!-- begin of PresentedTofragment -->
<div th:fragment="ConfidentialClientEvaluationLastYearPage"
	class="grad w3-container pageBreakInside">

	<div th:if="${PublishModel.confidentialClientEvaluationOnePage}">
		<!-- determine if we show presentedToPage content -->

		<div>
			<a id="ConfidentialClientEvaluationLastYearPage"></a>

		</div>

		<div class="whiteGrad">

			<h1 class="text-center w3-text-black">Previous Year’s Media Allocation </h1>
			<script>
			// Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});


           // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);
           
            var totalAdvertisingInvestmentValue=0;
			var arrayChartDataPoint= [];
			class ChartDataPoint {
			    constructor(name, value) {
			        this.name = name;
			        this.value = value;
			    }
			}

			function addChartDataPoint (name, value) {
				console.log("addChartDataPoint");
				//name = "'" + name +  "'";
			          let x = new ChartDataPoint(name,value); 
				      arrayChartDataPoint.push(x);
			   
			}

			function drawChart() {

				   console.log("drawChart");
				   console.log("arrayChartDataPoint.length " + arrayChartDataPoint.length);
				   var data = new google.visualization.DataTable();
			           data.addColumn('string', 'Topping');
			           data.addColumn('number', 'Slices');
				
				     for (i = 0; i < arrayChartDataPoint.length; i++) {
			                   var name = arrayChartDataPoint[i].name;
			                   var value = arrayChartDataPoint[i].value;
			                   totalAdvertisingInvestmentValue = totalAdvertisingInvestmentValue + value;
			                   console.log("totalAdvertisingInvestmentValue " + totalAdvertisingInvestmentValue);
			                   data.addRow([name, value]);
			          
			        }//end of for
			        totalAdvertisingInvestmentValue = CurrencyFormatted(totalAdvertisingInvestmentValue);
			        document.getElementById("totalAdvertisingInvestment").innerHTML = totalAdvertisingInvestmentValue;
				      
				     // Set chart options
				        //var options = {'title':'Previous Year’s Media Allocation '};

				        // Instantiate and draw our chart, passing in some options.
				        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
				        chart.draw(data);
				        //chart.draw(data, options);
			}


			</script>

			<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
				

				/*[# th:each="chartData : ${ConfidentialClientEvaluationOnePageLastYearChartModel}"]*/

					addChartDataPoint(/*[[${chartData.label}]]*/, /*[[${chartData.labelValue}]]*/); // Add a row with a string and a date value.
					
				/*[/]*/	
					

               /*]]>*/
			</script>
			<div id="piechart_3d" style="width: 600px; height: 700px;"></div>

			<div>Total Advertising Investment (TAI): <span id="totalAdvertisingInvestment"></span>  </div>
			<script>
	     
			     
			</script>
		</div>
		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<!-- end of if statement -->

	</div>
	<!-- end of PresentedTofragment -->