<!-- begin of FlightDatesFragment -->
<div th:fragment="FlightDatesFragmentPage"
<script src="https://cdn.tiny.cloud/1/d5s7yeul5jnhtk9c7dv0oswtm488cvisrrsq0i3zwb5rkr0b/tinymce/5/tinymce.min.js"></script>
<script>
   tinymce.init({
     selector: 'textarea#basic-example',
     height: 700,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar: 'undo redo | formatselect | ' +
     ' bold italic backcolor | alignleft aligncenter ' +
     ' alignright alignjustify | bullist numlist outdent indent |' +
     ' removeformat | help',
     content_css: [
       '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
       '//www.tiny.cloud/css/codepen.min.css'
     ]
   });
</script>
<textarea id="basic-example">


  <h2 style="text-align: center;">Plan B</h2>

  <h2>For the benefit of the client WWWW agrees to develop a marketing strategy to help
</h2>


<p>In return for fulfilling stated goals Premium Auto Centers
		agrees to invest in the following long-term plan </p>

  <ol>
    <li> Initiate Cause Marketing Programs
</li>
    <li>Tech recruitment</li>
</li>
    <li>Expand Target Consumers (by age, sex, geography)
</li>
  </ol>



  <table style="text-align: center;">
    <caption> FLIGHT DATES:</caption>	
    <thead>
      <tr>
        <th>Media</th>
        <th>Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>

        <th>May</th>
        <th>jun</th>
        <th>Jul</th>
        <th>Augr</th>

        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
      </tr>
    </thead>
    <tbody>

<tr>
        <td>WWW</td>
        <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
        
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>

      </tr>


<tr>
        <td>WWW</td>
        <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
        
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>

      </tr>


      <tr>
        <td>WWW</td>
        <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
        
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>

      </tr>
      <tr>
        <td>WWW2</td>
        <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
        
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>

      </tr>


     <tr>
        <td></td>
        <td></td>
        <td></td>

        <td></td>
        <td></td>
        
     <td></td>
        <td></td>

        <td></td>
        <td></td>
     <td></td>
        <td></td>

        <td></td>
        <td></td>

      </tr>
<tr>
        <td>Total</td>
        <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
        
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>
     <td>$100</td>
        <td>$50</td>

        <td>$60</td>
        <td>$70</td>

      </tr>






    </tbody>
  </table>


  <p>
    Client may cancel after 13 weeks from schedule start date with two weeks’ notice and no short rate. This offer is good for 10 business days 
from the date of presentation. In accordance with Paragraphs 49 and 50 of United States Federal Communications Commission Report and Order No. FCC 07-217, 
this station will not discriminate in any contract for advertising on the basis of race
 or ethnicity, and all such contracts will be evaluated, accepted, negotiated and completed without regard to race or ethnicity
  </p>

  <h2>Analysis of Schedule:
</h2>

  <p>
    AVERAGE MONTHLY CLIENT INVESTMENT $55555
.
  </p>
  <p>
   AVERAGE DAILY CLIENT INVESTMENT $55555

  </p>


<P>Thank you for your trust and confidence</P>

<P>Accepted for- John Smith Date: 12 Dec 2019  | Accepted for Nancy Williams 23 May 2019 </p>
</textarea>
</div>
