<!-- begin of LongRangeStrategicPlansFragment -->
<div th:fragment="LongRangeStrategicPlansPage"
	class="grad container pageBreakInside" style="height: 100%;">

	<div class="whiteGrad">
		<div>
			<a id="LongRangeStrategicPlansPage"></a>
			<h1 class="text-center ">Long Range Strategic Plans</h1>
		</div>

		<div class="grid-container" style="padding-top: 5%;">
			<div class="w3-row">
				<div class="w3-col m2 arrow-text">SATURATION</div>
				<div class="w3-col m2 arrow_dim">

					<img src="./img/arrow_black.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m2 arrow-text arrow-text-middle">13 WEEKS</div>

				<div class="w3-col m3 arrow_dim">

					<img src="./img/arrow_black.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m1 arrow-text">AWARENESS</div>

			</div>
			
			

			<!--  second row -->
			<div class="w3-row" style="padding-top: 2%;">
				<div class="w3-col m2 arrow-text">PENETRATION</div>
				<div class="w3-col m2 arrow_dim">

					<img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m2 arrow-text arrow-text-middle">26 WEEKS</div>

				<div class="w3-col m3 arrow_dim">

					<img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m1 arrow-text">RECOGNITION</div>





			</div>

			<!--  second row -->
			<div class="w3-row" style="padding-top: 2%;">
				<div class="w3-col m2 arrow-text">DOMINANCE</div>
				<div class="w3-col m2 arrow_dim">

					<img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m2 arrow-text arrow-text-middle">52 WEEKS</div>

				<div class="w3-col m3 arrow_dim">

					<img src="./img/arrow_green.svg" alt="" class="img-fluid longrange">
				</div>



				<div class="w3-col m1 arrow-text">ACCEPTANCE</div>





			</div>




		
		</div>
		<!-- last of container div -->



	</div>
	<div class="w3-container d-print-none" style="padding-top: 2%;">
		<button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
		<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
		<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
	</div>
	<div class="w3-row">
		<div class="CopyRightId w3-col m8"></div>
		<div class=" w3-col m2"></div>
		<div align="right" class="w3-col m2">-CONFIDENTIAL- 15</div>
	</div>
</div>
<!-- end of LongRangeStrategicFragment -->
