<div th:fragment="MarketPlaceCompetitionPage"
	class="grad container pageBreakInside" style="height: 100%;">
	<div>
		<a id="MarketPlaceCompetitionPage"></a>
		<p class="text-justify">
		<h1 class="text-center">Marketplace Competition</h1>
		</p>
		<p class="text-justify">
		<h2 class="text-center">Summary, Conclusions, and Recommendations</h2>
		</p>
	</div>

	<div class="whiteGrad">
		<div class="row">
			<div class="col-4">
				<div class="row, form-group">
					<span class="form-control, border-0">How long have you been in business?</span>
				</div>
			</div>
			<div class="col-1">
				<div class="row, form-group">
					<span class="form-control, border-0" th:text="${StrategicMarketingPageOne?.yearsInBusiness}"></span>
				</div>
			</div>

			<div class="col-3">
				<div class="row, form-group">
					<span class="form-control, border-0">How many locations?</span>
				</div>
			</div>
			<div class="col-1">
				<div class="row, form-group">
					<span class="form-control, border-0"><span
						th:text="${StrategicMarketingPageOne?.numberOfLocations}"></span></span>
				</div>
			</div>

			<div class="col-2">
				<div class="row, form-group">
					<span class="form-control, border-0">Plan to Expand?</span>
				</div>
			</div>
			<div class="col-1">
				<div class="row, form-group">
					<span class="form-control, border-0"><span
						th:text="${StrategicMarketingPageOne?.planToExpand}"></span></span>
				</div>
			</div>
		</div>

		<p>
			How long have you been in business? <span
				th:text="${StrategicMarketingPageOne?.yearsInBusiness}"></span>
		</p>
		<h2>Presented To</h2>
		<span th:text="${PresentedToPage?.clientContactName}"></span>
		<p>
		<h2>Presented By</h2>
		</p>
		<p>Copyright © 1984-2017 Executive Decision Systems, Inc. and The
			Guld Resource Group, LLC. The data, formulas, and other content in
			these materials are the property of Executive Decision Systems, Inc.
			and The Guld Resource Group, LLC and are protected by copyright and
			other intellectual property laws. No part of these materials may be
			reproduced, distributed, or used in any way without a license
			agreement or other written consent of The Guld Resource Group, LLC
			permitting such use. All rights reserved. To report violations,
			please call (804) 356-7006.</p>
	</div>
	<div class="container d-print-none" style="padding-top: 2%;">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">Previous</a></li>
				<li class="page-item"><a class="page-link"
					href="#TeamCommitmentPage">Next</a></li>
				<li class="page-item"><a class="page-link" href="#">Print</a></li>
				<li class="page-item"><a class="page-link" href="#">End</a></li>

			</ul>
		</nav>
	</div>


</div>
