<!-- begin of MarketingStrategiesFragment -->
<div th:fragment="MarketingStrategiesPage"
	class="grad container pageBreakInside" style="height: 100%;">

	<div class="whiteGrad">
		<div>
			<a id="MarketingStrategiesPage"></a>

			<h1 class="text-center ">Marketing Strategies</h1>


		

		</div>
		<p>
			To help <strong>change consumer attitudes</strong> about automotive
			service (a lack of trust), I would encourage you to be featured in
			all commercials. No one can better represent the trust and expertise
			that you offer. This will also highlight the benefits of local
			ownership backed by the national Premium brand franchise
		</p>

		<p>
			To <strong>expand your target market</strong> to the largest
			potential market, focus the creative in your campaigns around the
			primary drivers of automotive service, which include oil changes and
			state inspections. While in the store, you can individually sell
			other needed services such as tires, brakes, etc.
		</p>

		<p>Focus on the outstanding customer experience and the customer
			service guarantee that will separate yourselves from the competition.
		</p>

		<p>
			To <strong>enhance your image in the market</strong>, form
			partnerships with local non-profits in cause marketing campaigns that
			will make a difference in the community
		<ol>
			<li>Sponsor blood drives at your locations, whereas with a
				donation of blood each patron receives a free oil change. This
				provides a triple win helping to drive new donations, providing a
				value added for blood donors and for Midas it will increase the
				potential customer base while providing an outstanding community
				service (saving lives).</li>
			<li>To encourage donations to the local Food Bank, consider
				offering a free oil change ($30 value) for every $10 donation
				inspection. This will not only help to feed hungry children, it will
				also promote goodwill in the community while building repeat
				business.</li>
		</ol>
		</p>
		<p>To attract more qualified candidates, create a recruitment
			campaign with your voicing, targeting candidates with the precise
			tech specifications you are seeking, but heavily promoting your
			distinct advantages (ex. higher pay, more comprehensive benefits,
			growth potential, etc.). Your target market is not the “unemployed,”
			but those currently working, but not totally fulfilled in their given
			position.
		<p>
	</div>
	<div class="w3-container d-print-none" style="padding-top: 2%;">
			    <button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
                 <a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
                <button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<div class="CopyRightId"></div>
</div>
<!-- end of MarketingStrategiesFragment -->