<!-- begin of MarketPlaceCompetitionfragment -->
<div th:fragment="MarketPlaceCompetitionPage"
	class="grad container pageBreakInside" style="height: 100%;">
	<div th:if="${PublishModel.marketPlaceCompetitionPage}">
		<!-- determine if we show content -->


		<div class="whiteGrad">
		
		
		<div>
			<a id="MarketPlaceCompetitionPage"></a>
			
			<h1 class="text-center">Marketplace Competition</h1>
			
			
			
		
		</div>
		
			<div class="w3-row">
				<div class="w3-col s2">
					
						<span>How long have you been
							in business?</span>
					
				</div>
				<div class="w3-col s2">
					
						<span 
							th:text="${StrategicMarketingPageOne?.yearsInBusiness}"></span>
					
				</div>

				<div class="w3-col s2">
					
						<span>How many locations?</span>
					
				</div>
				<div class="w3-col s2">
					
						<span><span
							th:text="${StrategicMarketingPageOne?.numberOfLocations}"></span></span>
					
				</div>

				<div class="w3-col s2">
					
						<span>Plan to Expand?</span>
					
				</div>
				<div class="w3-col s2">
					
						<span class="form-control, border-0"><span
							th:text="${StrategicMarketingPageOne?.planToExpand}"></span></span>
					
				</div>
			</div>
			
			
			
			

			<p>
				How long have you been in business? <span
					th:text="${StrategicMarketingPageOne?.yearsInBusiness}"></span>
			</p>
			<h2>Presented To</h2>
			<span th:text="${PresentedToPage?.clientContactName}"></span>
			
			<h2>Presented By</h2>
		
			<p>Copyright © 1984-2017 Executive Decision Systems, Inc. and The
				Guld Resource Group, LLC. </p>
		</div>
		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>

	</div><!-- end of if statement -->
</div><!-- begin of MarketPlaceCompetitionfragment -->
