<!-- begin of PlanAMediaPageTofragment -->
<div th:fragment="PlanAMediaPage" class="grad w3-container pageBreakInside">
    <div th:if="${PublishModel.planAMediaPage}">
        <!-- determine if we show PlanAMediaPagePage content -->
        <div class="whiteGrad" style="line-height: 1;">
            <a id="PlanAMediaPage"></a>
            <h1 class="text-center w3-text-black">Proposed Schedule – Plan B</h1>
             <h2 class="text-center w3-text-black">BUDGET BREAKOUT BY MONTH (For Next 12 Months) </h2>
             <h2 class="text-center w3-text-black">Proposed Media Plan</h2>
             <h2  th:text="${PresentedToPage?.station}" class="text-center w3-text-black">station</h2>
        
            
            <div id="columnchart_values" style="width: 800px; height: 500px;"></div>
        </div><!-- end of white content -->

        <div class="w3-container d-print-none" style="padding-top: 2%;">
            <button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
            <a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
            <button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
        </div>
    </div>
    <!-- end of if statement -->
    
    <script th:inline="javascript">
    /*<![CDATA[*/
    var station = /*[[${PresentedToPage?.station}]]*/ 'unknown';
    var jan = /*[[${PlanAMediaPage.jan}]]*/ 'jan';
    var feb = /*[[${PlanAMediaPage.feb}]]*/ 'feb';
    var apr = /*[[${PlanAMediaPage.apr}]]*/ 'apr';
    var mar = /*[[${PlanAMediaPage.mar}]]*/ 'mar';
    var may = /*[[${PlanAMediaPage.may}]]*/ 'may';
    var jun = /*[[${PlanAMediaPage.jun}]]*/ 'jun';
    var jul = /*[[${PlanAMediaPage.jul}]]*/ 'jul';
    var aug = /*[[${PlanAMediaPage.aug}]]*/ 'aug';
    var sep = /*[[${PlanAMediaPage.sep}]]*/ 'sep';
    var oct = /*[[${PlanAMediaPage.oct}]]*/ 'oct';
    var nov = /*[[${PlanAMediaPage.nov}]]*/ 'nov';
    var dec = /*[[${PlanAMediaPage.dec}]]*/ 'dec';
    var janColor = /*[[${PlanAMediaPage.janColor}]]*/ 'janColor';
    var febColor = /*[[${PlanAMediaPage.febColor}]]*/ 'febColor';
    var aprColor = /*[[${PlanAMediaPage.aprColor}]]*/ 'aprColor';
    var marColor = /*[[${PlanAMediaPage.marColor}]]*/ 'marColor';
    var mayColor = /*[[${PlanAMediaPage.mayColor}]]*/ 'mayColor';
    var junColor = /*[[${PlanAMediaPage.junColor}]]*/ 'junColor';
    var julColor = /*[[${PlanAMediaPage.julColor}]]*/ 'julColor';
    var augColor = /*[[${PlanAMediaPage.augColor}]]*/ 'augColor';
    var sepColor = /*[[${PlanAMediaPage.sepColor}]]*/ 'sepColor';
    var octColor = /*[[${PlanAMediaPage.octColor}]]*/ 'octColor';
    var novColor = /*[[${PlanAMediaPage.novColor}]]*/ 'novColor';
    var decColor = /*[[${PlanAMediaPage.decColor}]]*/ 'decColor';
    google.charts.load("current", {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Density", {
                role: "style"
            }],
            ["Jan", jan, janColor],
            ["Feb", feb, febColor],
            ["Mar", mar, marColor],
            ["Apr", apr, aprColor],
            ["May", may, mayColor],
            ["Jun", jun, junColor],
            ["Jul", jul, julColor],
            ["Aug", aug, "green"],
            ["Sep", sep, "green"],
            ["Oct", oct, "blue"],
            ["Nov", nov, "green"],
            ["Dec", dec, "blue"]
        ]);
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);
        var options = {
            bar: {
                groupWidth: "30"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
    /*]]>*/
</script>

    
    
</div>
<!-- end of PlanAMediaPagefragment -->
