<div th:fragment="PlanABEPPage" class="grad container pageBreakInside"
	style="height: 100%;">
	<div th:if="${PublishModel.planABEPPage}" class="container"
		style="padding-top: 1%;">
		<div>
			<a id="PlanBProposedPage"></a>
			<p class="text-justify"></p>


		</div>
		<div class="whiteGrad mce-content-body">

			<h1 class="text-center w3-text-black">Break Even Analysis – Plan
				A</h1>


			<div class="w3-row topPadding">
				<div class="w3-col w3-center m8">

					<label for="planAAverageSale">A. Average sale (ticket,
						transaction, invoice) </label>
				</div>
				
				<div class="w3-col m1">

					=
				</div>
				
				<div class="w3-col m3">
					<span class="underline"
						th:text="${PlanABEPPageModel?.planAAverageSale}"
						name="planAAverageSale"></span>
				</div>
			</div>
			<div class="w3-row topPadding">
				<label for="planAGrossMargin">B. Gross profit margin on
					average sale (sale less cost of goods sold)</label> <span class="underline"
					th:text="${PlanABEPPageModel?.planAGrossMargin}"></span><span>%</span>


			</div>
			<div class="w3-row topPadding">
				<label for="planAClosingPct">C. Closing or conversion rate </label>

				<span class="underline"
					th:text="${PlanABEPPageModel?.planAClosingPct}"></span><span>%</span>

			</div>
			<div class="w3-row topPadding">
				<label for="planAProspectValue">D. Projected prospect value
					(A*B*C)</label> <span class="underline"
					th:text="${PlanABEPPageModel?.planAProspectValue}"></span>
			</div>


			<div class="w3-row topPadding">
				<label for="planAInvestment">E. Client monthly advertising
					investment (base month)</label> <span class="underline"
					th:text="${PlanAProposedPageModel?.planAMonthly}"></span>

			</div>
			<div class="w3-row topPadding">
				<label for="planAProspectsNeeded">F. Monthly prospects
					needed to pay for advertising investment (E/D)</label> <span
					class="underline"
					th:text="${PlanABEPPageModel?.planAProspectsNeeded}"></span>
			</div>
			<div class="w3-row topPadding">
				<label for="planAProspectSalesNeeded">G. Number of monthly
					sales needed to break even (F*C)</label><span class="underline"
					th:text="${PlanABEPPageModel?.planAProspectSalesNeeded}"></span>
			</div>
			<div class="w3-row topPadding">
				<label for="planAGrossProfitOnSales">H. Gross sales per
					month needed to break even (G*A)</label> <span class="underline"
					th:text="${PlanABEPPageModel?.planAGrossProfitOnSales}"></span>
			</div>
			<div class="w3-row topPadding">
				<label for="planAMonths">I. Number of months to run in
					proposed marketing plan</label> <span class="underline"
					th:text="${PlanABEPPageModel?.planAMonths}" name="planAMonths"></span>
			</div>
			<div class="w3-row topPadding">
				<label for="planAAdditionalGrossSales">J. Additional gross
					sales per year needed to break even (H*I)</label> <span class="underline"
					th:text="${PlanABEPPageModel?.planAAdditionalGrossSales}"></span>
			</div>
		</div>
		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<div class="CopyRightId"></div>
	</div>
</div>