<div th:fragment="PlanAMediaPageFlightDates"
	class="grad container pageBreakInside" style="height: 100%;">
	<div th:if="${PublishModel.planAMediaPage}">

		<input type="hidden" id="mediarows"
			th:value="${PlanAMediaPagedataPageModel?.mediaRows}" name="mediarows" />

		<div>
			<a id="PlanAMediaPageFlightDates"></a>
			<p class="text-justify"></p>

		</div>


		<div class="whiteGrad mce-content-body">
			<div>
				<h2 style="text-align: center;">Plan A</h2>

				<h2
					th:text="'For the benefit of the client ' + ${PresentedToPage?.clientContactName} + ' agrees to develop a marketing strategy to help' ">

					WWWW</h2>
			</div>


			<script src="js/media.js">
				
			</script>


			<!-- if="${PublishModel.clientObjectivesPage} -->
			<div th:if="${PublishModel.clientObjectivesPage}">

				<ol>
					<li th:each="selectedModel : ${ClientObjectivesPageModel}">
					<span
						th:id="${selectedModel?.label}"> 
						
						
						<script th:inline="javascript">
					          /*<![CDATA[*/
						var message = /*[[${selectedModel?.label}]]*/'default';
						//message = "'" + message + "'";
						addLabel(message);
						/*]]>*/
						</script>
						
						</span>
				  </li>



				</ol>


				<!-- loop thru clientObjectives -->
			</div>
			<!-- end of clientObjectivesPage} -->

			<p>In return for fulfilling stated goals Premium Auto Centers
				agrees to invest in the following long-term plan</p>


		</div>
	</div>
</div>
