<div th:fragment="PlanAExcelPage" class="grad container pageBreakInside"
	style="height: 100%;">

	<div th:if="${PublishModel.planAExcelPage}">
		<!-- replace PlanAExcelPage begin -->
		<div>
			<a id="PlanAExcelPage"></a>
			<p class="text-justify"></p>
			<h1 class="text-center w3-text-white">Proposed Schedule – Plan A
			</h1>

		</div>


		



		<div class="whiteGrad mce-content-body">
			<div class="w3-row">
				<div class="w3-col m9">
					<textarea class="editor" id="textareaId" name="textareaId"
						th:text="${PlanAExcelPageModel?.textArea}" />
				</div>
				<div class="w3-col m3" style="padding-left: 2%;">
					<p style="padding-top: 10%;">Build</p>
					<p>Brand</p>
					<p>Equity</p>
					<p>Monthly</p>
					<p>Schedule</p>

					<p style="padding-top: 50%;">Spike</p>
					<p>Monthly</p>
					<p>Schedule</p>

					<p style="padding-top: 50%;">Slow</p>
					<p>Performing</p>
					<p>Monthly</p>
					<p>Schedule</p>
				</div>
			</div>
		</div>



	</div>


	<div class="w3-container d-print-none" style="padding-top: 2%;">
		<button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
		<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
		<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
	</div>
	<div class="w3-row">
		<div class="CopyRightId w3-col m8"></div>
		<div class=" w3-col m2"></div>
		<div align="right" class="w3-col m2">-CONFIDENTIAL- 18</div>
	</div>
</div>

</div>
