<div class="container" style="padding-top: 1%;">

		<div>
			
				<fieldset>
					<legend>
						Plan A Proposed Schedule - Brand Equity Months - <span
							</span>
					</legend>
					<div class="form-group">
						<label for="planACity">Market/City:
							going to dominate?</label> <input th:value="${dataPageModel?.planACity}"
							type="text" class="form-control" id="planACity" name="planACity"
							aria-describedby="planACity"  />
					</div>
					
				<div class="form-group">
                        <label for="planAReach">Average Projected
							Broadcast monthly reach:</label> 
						<input type="text" 
						 data-type="numberwithcomma"
							th:value="${dataPageModel?.planAReach}" class="form-control"
							id="planAReach" name="planAReach" />					
				</div>
					
					
					<div class="form-group">
						<label for="planAFrequency">Average Projected Monthly
							Broadcast Frequency:</label> <input type="number"
							th:value="${dataPageModel?.planAFrequency}" class="form-control"
					id="planAFrequency" name="planAFrequency"  />
					</div>
					<div class="form-group">
						<label for=planADigitalImpressionsMonthly>Average
							Estimated Monthly Digital Gross Impressions:</label> <input type="number"
							th:value="${dataPageModel?.planADigitalImpressionsMonthly}"
							class="form-control" id="planADigitalImpressionsMonthly"
							name="planADigitalImpressionsMonthly" />
					</div>
					<div class="form-group">
						<label for=planAMonthly>E. What is the average base monthly
							advertising investment?</label> <input type="currency"
							th:value="${dataPageModel?.planAMonthly}" class="form-control"
							id="planAMonthly" name="planAMonthly" 
							data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
							/>
					</div>
					
					<div class="form-group">
						<label for=planADaily>Average Base Daily
							Advertising Investment:</label> <input type="currency"
							th:value="${dataPageModel?.planADaily}" class="form-control"
							id="planADaily" name="planADaily"  
							data-type="currency" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"	/>
					</div>

				
				</fieldset>
			
			

		</div>

	</div>

