<div th:fragment="PlanBFlightDates"
	class="grad container pageBreakInside" style="height: 100%;">

	<div th:if="${PublishModel.planBFlightDatesPage}">

		<div>
			<a id="PlanBFlightDates"></a>
			<p class="text-justify"></p>

		</div>
       <link rel="stylesheet" href="css/codepen.css">
  
		<div>
		<script th:inline="javascript">
			/*<![CDATA[*/

    			var message = /*[[${PlanBFlightDatesPageModel?.textArea}]]*/ 'default';
    			 document.write(unescape(message));
			     console.log(message);

			/*]]>*/
				</script>
          
           
		
			
		
		
		</div>


		<div class="container d-print-none" style="padding-top: 2%;">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					<li class="page-item"><a class="page-link"
						href="#TeamCommitmentPage">Next</a></li>
					<li class="page-item"><a class="page-link" href="#">Print</a></li>
					<li class="page-item"><a class="page-link" href="#">End</a></li>

				</ul>
			</nav>
		</div>
		<div class="CopyRightId"></div>
	</div>

</div>
