<!-- begin of PlanBMediaPageTofragment -->
<div th:fragment="PlanBMediaPage" class="grad w3-container pageBreakInside">
    <div th:if="${PublishModel.planBMediaPage}">
        <!-- determine if we show PlanBMediaPagePage content -->
        <div class="whiteGrad" style="line-height: 1;">
            <a id="PlanBMediaPage"></a>
            <h1 class="text-center w3-text-black">Proposed Schedule – Plan B</h1>
             <h2 class="text-center w3-text-black">BUDGET BREAKOUT BY MONTH (For Next 12 Months) </h2>
             <h2 class="text-center w3-text-black">Proposed Media Plan</h2>
             <h2  th:text="${PresentedToPage?.station}" class="text-center w3-text-black">station</h2>
        
            
            <div id="columnchart_values" style="width: 800px; height: 500px;"></div>
            <div class="box green col-p-2"> </div>
            <div class="col-p-2"> Spiked Months</div>
            <div class="box red col-p-2"></div>
            <div class="col-p-2" >Slow Months</div>
            <div class="box blue col-p-2"></div>
            <div class="col-p-2">Brand Equity Months</div>
        </div><!-- end of white content -->

        <div class="w3-container d-print-none" style="padding-top: 2%;">
            <button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
            <a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
            <button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
        </div>
    </div>
    <!-- end of if statement -->
    
    <script th:inline="javascript">
    /*<![CDATA[*/
    var station = /*[[${PresentedToPage?.station}]]*/ 'unknown';
    var jan = /*[[${PlanBMediaPage.jan}]]*/ 'jan';
    var feb = /*[[${PlanBMediaPage.feb}]]*/ 'feb';
    var apr = /*[[${PlanBMediaPage.apr}]]*/ 'apr';
    var mar = /*[[${PlanBMediaPage.mar}]]*/ 'mar';

    var may = /*[[${PlanBMediaPage.may}]]*/ 'may';
    var jun = /*[[${PlanBMediaPage.jun}]]*/ 'jun';
    var jul = /*[[${PlanBMediaPage.jul}]]*/ 'jul';

    var aug = /*[[${PlanBMediaPage.aug}]]*/ 'aug';
    var sep = /*[[${PlanBMediaPage.sep}]]*/ 'sep';
    var oct = /*[[${PlanBMediaPage.oct}]]*/ 'oct';
    var nov = /*[[${PlanBMediaPage.nov}]]*/ 'nov';
    var dec = /*[[${PlanBMediaPage.dec}]]*/ 'dec';

    var janColor = /*[[${PlanBMediaPage.janColor}]]*/ 'janColor';
    var febColor = /*[[${PlanBMediaPage.febColor}]]*/ 'febColor';
    var aprColor = /*[[${PlanBMediaPage.aprColor}]]*/ 'aprColor';
    var marColor = /*[[${PlanBMediaPage.marColor}]]*/ 'marColor';

    var mayColor = /*[[${PlanBMediaPage.mayColor}]]*/ 'mayColor';
    var junColor = /*[[${PlanBMediaPage.junColor}]]*/ 'junColor';
    var julColor = /*[[${PlanBMediaPage.julColor}]]*/ 'julColor';

    var augColor = /*[[${PlanBMediaPage.augColor}]]*/ 'augColor';
    var sepColor = /*[[${PlanBMediaPage.sepColor}]]*/ 'sepColor';
    var octColor = /*[[${PlanBMediaPage.octColor}]]*/ 'octColor';
    var novColor = /*[[${PlanBMediaPage.novColor}]]*/ 'novColor';
    var decColor = /*[[${PlanBMediaPage.decColor}]]*/ 'decColor';

    google.charts.load("current", {
        packages: ['corechart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Element", "Density", {
                role: "style"
            }],
           ["Jan", jan, janColor],
            ["Feb", feb, febColor],
            ["Mar", mar, marColor],
            ["Apr", apr, aprColor],
            ["May", may, mayColor],
            ["Jun", jun, junColor],
            ["Jul", jul, julColor],
            ["Aug", aug, augColor],
            ["Sep", sep, sepColor],
            ["Oct", oct, octColor],
            ["Nov", nov, novColor],
            ["Dec", dec, decColor]
        ]);
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2
        ]);
        var options = {
            bar: {
                groupWidth: "30"
            },
            legend: {
                position: "none"
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }

    /*]]>*/
</script>

    
    
</div>
<!-- end of PlanBMediaPagefragment -->
