<div th:fragment="PlanBMediaPageFlightDates"
	class="grad container pageBreakInside" style="height: 100%;">
	<div th:if="${PublishModel.planBMediaPage}">

		<input type="hidden" id="mediarowsB"
			th:value="${PlanBMediaPagedataPageModel?.mediaRows}"
			name="mediarowsB" />

		<div>
			<a id="PlanBMediaPageFlightDates"></a>
			<p class="text-justify"></p>

		</div>


		<div class="whiteGrad">
			<div>
				<h1 class="w3-center">Plan B</h1>

				<div class="w3-row">
                
                <span> For the benefit of the client,  </span>
                
                <span class="flight" th:text="${PresentedToPage?.station}" ></span>
               
                <span> agrees to develop a marketing strategy to help:  </span>
                
                </div>
			</div>



			<!-- if="${PublishModel.clientObjectivesPage} -->
			<div class="mce-content-body" th:if="${PublishModel.clientObjectivesPage}">

				<ol class="center-ol">
					<li style="color: red;"
						th:each="selectedModel : ${ClientObjectivesPageModel}"
						th:if="${selectedModel.sortOrder} != 0"><span
						style='color: black;' th:id="${selectedModel?.label} + '-b' ">


							<script th:inline="javascript">
								/*<![CDATA[*/
								var message = /*[[${selectedModel?.label}]]*/'default';
								message = message + "-b";
								//message = "'" + message + "'";
								addLabel(message);
								/*]]>*/
							</script>

					</span></li>



				</ol>


				<!-- loop thru clientObjectives -->
			</div>
			<!-- end of clientObjectivesPage} -->

			<p>In return for fulfilling stated goals Premium Auto Centers
				agrees to invest in the following long-term plan</p>
			<div class="bold-text w3-center">FLIGHT DATES:</div>
			<div class="mce-content-body" id="spreadSheetB" style="overflow-x:auto;">
				<table class="table table-striped" id="headerTable">
					<thead>
						<tr>
							<th style="background-color: green; color: white;">Media</th>
							<th style="background-color: green; color: white;">Jan</th>
							<th style="background-color: green; color: white;">Feb</th>
							<th style="background-color: green; color: white;">Mar</th>
							<th style="background-color: green; color: white;">Apr</th>
							<th style="background-color: green; color: white;">May</th>
							<th style="background-color: green; color: white;">Jun</th>
							<th style="background-color: green; color: white;">Jul</th>
							<th style="background-color: green; color: white;">Aug</th>
							<th style="background-color: green; color: white;">Sep</th>
							<th style="background-color: green; color: white;">Oct</th>
							<th style="background-color: green; color: white;">Nov</th>
							<th style="background-color: green; color: white;">Dec</th>
							<th style="background-color: green; color: white;">Total</th>
						</tr>
					</thead>
					<tbody id="tbodyB">
						<!-- existing data could optionally be included here -->
					</tbody>
					<tfoot id="tfootB">
						<!-- existing data could optionally be included here -->

					</tfoot>
				</table>
			</div>

			<template id="productrowB">
			<tr>
				<td>www</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
				<td>110</td>
			</tr>
			</template>

			<template id="footerrowB">
			<tr>
				<td>Monthly Totals</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
				<td>110</td>
			</tr>
			</template>



			<div>

				<script src="js/medialSpreadSheet.js">
					
				</script>
				<script>
					console.group("medialSpreadSheetB");

					const mediaRowsB = document.getElementById("mediarowsB").value;
					console.log("mediaRowsB [" + mediaRowsB + "]");
					if (mediaRowsB.length > 4) {
						objs = JSON.parse(mediaRowsB);
					}
					buildSpreadSheetB();

					console.groupEnd();
				</script>


			</div>

			<div>
				<p>Client may cancel after 13 weeks from schedule start date
					with two weeks’ notice and no short rate. This offer is good for 10
					business days from the date of presentation. In accordance with
					Paragraphs 49 and 50 of United States Federal Communications
					Commission Report and Order No. FCC 07-217, this station will not
					discriminate in any contract for advertising on the basis of race
					or ethnicity, and all such contracts will be evaluated, accepted,
					negotiated and completed without regard to race or ethnicity</p>

				<u>Analysis of Schedule:</u>

				<p>
					<span class="bold-text"> AVERAGE MONTHLY CLIENT INVESTMENT:</span> 
					<span id="monthlyAverageIdB"></span>
					.
				</p>
				<p>
					<span class="bold-text">AVERAGE DAILY CLIENT INVESTMENT: </span> <span id="dailyCostIdB"></span>

				</p>
				<p class="w3-center">Thank you for your trust and confidence</p>


				<div class="b w3-row">
					<div class="w3-col w3-container m6">
						<hr class="new4" />
					</div>
					<div class="w3-col w3-container m6">
						<hr class="new4" />
					</div>

				</div>

				<div class="b w3-row">
					<div class="w3-col w3-container m3">Accepted for</div>
					<div class="w3-col w3-container m3">Date</div>

					<div class="w3-col w3-container m3">Accepted for</div>
					<div class="w3-col w3-container m3">Date</div>

				</div>




				<script>
					dailyCostAndMonthlyAverageB();
				</script>
			</div>


			
		</div>
		
		
		<div class="w3-container d-print-none" style="padding-top: 2%;">
				<button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
				<a href="#ClientPolicyAgreementPage" class="w3-btn w3-white">Next</a>
				<button class="w3-btn w3-white" onclick="javascript:goBack();">Previous</button>
			</div>
			<div class="w3-row">
				<div class="CopyRightId w3-col m8"></div>
				<div class=" w3-col m2"></div>
				<div align="right" class="w3-col m2">-CONFIDENTIAL- 30</div>
			</div>
	</div>