<div th:fragment="PlanBLifetimeValuedPage"
	class="grad container pageBreakInside" style="height: 100%;">
	<div th:if="${PublishModel.planBLifetimeValuedPage}" class="container"
		style="padding-top: 1%;">

		<div>
			<a id="PlanBLifetimeValuedPage"></a>
			<p class="text-justify"></p>


		</div>


		<div class="whiteGrad" style="padding-top: 1%;">
			<div align="center">
				<h2>Lifetime Value Analysis – Plan B</h2>

			</div>

			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">A. Average sale (ticket,
						transaction, invoice)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.averageSale}">$100,000</div>
			</div>


			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">B. Times gross profit margin
					on average sale (sale less cost of goods sold)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.grossProfitMargin} + '%'">$100,000</div>
				
			</div>


			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">C. Equals gross profit per
					average sale (A*B)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.grossProfitPerSale}">$100,000</div>
			</div>


			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">D. Times the average repeat
					sales per year (per customer/client)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.averageRepeatSales}">$100,000</div>
			</div>


			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">E. Equals the average
					customer/client value per year (C*D)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.averageCustomerValue}">$100,000</div>
			</div>


			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">F. Times the average number
					of years of patronage</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.yearsOfPatronage}">$100,000</div>
			</div>

			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">G. Equals the lifetime value
					of one customer/client (E*F)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.lifetimeValuePerCustomer}">$100,000</div>
			</div>


			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">H. So if your base monthly
					advertising investment averages</div>
				<div class="w3-col m1 w3-center ">=</div>
				
				<div class="w3-col m2 w3-center underline" th:text="${PlanBLifetimeValuedPageModelOther?.planAMonthly ne null} ? ${PlanALifetimeValuedPageModelOther?.planAMonthly} : '0'">$100,000</div>
			</div>

			<div class="w3-row" style="padding-top: 1%";>
				<div class="w3-col m7 w3-center">I. Then monthly
					customers/clients needed to break even (H/G)</div>
				<div class="w3-col m1 w3-center ">=</div>
				<div class="w3-col m2 w3-center underline"
					th:text="${PlanBLifetimeValuedPageModel?.prospectsNeededToBreakEven}">$100,000</div>
			</div>



		</div>
		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<div class="w3-row">
			<div class="CopyRightId w3-col m8"></div>
			<div class=" w3-col m2"></div>
			<div align="right" class="w3-col m2">-CONFIDENTIAL- 27</div>
		</div>

	</div>
</div>
