<div th:fragment="PlanABEPPage" class="grad container pageBreakInside"
	style="height: 100%;">
	<div th:if="${PublishModel.planABEPPage}" class="container"
		style="padding-top: 1%;">
		<div>
			<a id="PlanBProposedPage"></a>
			<p class="text-justify"></p>


		</div>
		<div class="whiteGrad mce-content-body">

			<h1 class="text-center w3-text-black">Break Even Analysis – Plan
				A</h1>


			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">

					<label for="planAAverageSale">A. Average sale (ticket,
						transaction, invoice) </label>
				</div>

				<div class="w3-col m1">=</div>

				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAAverageSale}"
						name="planAAverageSale">
					
				</div>
			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAGrossMargin">B. Gross profit margin on
						average sale (sale less cost of goods sold)</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAGrossMargin} + '%'">
					
				</div>





			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAClosingPct">C. Closing or conversion rate
					</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAClosingPct} + '%'">
					
				</div>

			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAProspectValue">D. Projected prospect value
						(A*B*C)</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAProspectValue}">
					
				</div>
			</div>


			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAInvestment">E. Client monthly advertising
						investment (base month)</label>
				</div>

				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanAProposedPageModel?.planAMonthly}">

					
				</div>

			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAProspectsNeeded">F. Monthly prospects
						needed to pay for advertising investment (E/D)</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAProspectsNeeded}">
					
				</div>
			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAProspectSalesNeeded">G. Number of monthly
						sales needed to break even (F*C)</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAProspectSalesNeeded}">
					
				</div>
			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAGrossProfitOnSales">H. Gross sales per
						month needed to break even (G*A)</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAGrossProfitOnSales}">
					
				</div>
			</div>
			<div class="w3-row rowPaddingTop">
				<div class="w3-col w3-center m8">
					<label for="planAMonths">I. Number of months to run in
						proposed marketing plan</label>
				</div>
				<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAMonths}">
					
				</div>
			</div>
			<div class="w3-row rowPaddingTop">
			<div class="w3-col w3-center m8">
				<label for="planAAdditionalGrossSales">J. Additional gross
					sales per year needed to break even (H*I)</label>
					</div>
					<div class="w3-col m1">=</div>
				<div class="w3-col m2 underline w3-center" th:text="${PlanABEPPageModel?.planAAdditionalGrossSales}">
					
					</div>
			</div>
		</div>
		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<div class="w3-row">
		      <div class="CopyRightId w3-col m8"></div>
		      <div class=" w3-col m2"></div>
		      <div align="right" class="w3-col m2">
			-CONFIDENTIAL- 20     
		      </div>	      
		</div>
	</div>
</div>
