<div th:fragment="PlanBProposedPage"
	class="grad container pageBreakInside" style="height: 100%;">


	<div th:if="${PublishModel.planBProposedPage}" class="container"
		style="padding-top: 1%;">

		<div>
			<a id="PlanBProposedPage"></a>
			<p class="text-justify"></p>


		</div>


		<div class="whiteGrad">
			<h1 class="text-center w3-text-black">Plan B Proposed Schedule</h1>

		<h2 class="text-center"
					th:text="${PresentedToPage?.clientBusinessName}"></h2>
		
		      <h2 class="text-center">Brand Equity Schedule</h2>
				
				<h2 class="text-center">Monthly Station Summary​</h2>

<div class="w3-row topPadding">
					<label for="planAReach">Market: </label> <span id="planACity" th:text="${PlanBProposedPageModel?.planACity}"></span>
				</div>
			<div class="w3-row topPadding">
				<label for="planAReach">Average Projected Broadcast monthly
					reach: </label> <span id="planAReachB" th:text="${PlanBProposedPageModel?.planAReach}"></span>
			</div>
            <script>
            var planAReachB = document.getElementById("planAReachB").innerHTML;
            planAReachB = formatNumber(planAReachB); 
            document.getElementById("planAReachB").innerHTML = planAReachB;
            </script>

			<div class="w3-row topPadding">
				<label for="planAFrequency">Average Projected Monthly
					Broadcast Frequency: </label> <span
					th:text="${PlanBProposedPageModel?.planAFrequency}"></span>
			</div>
			<div class="w3-row topPadding">
				<label for=planADigitalImpressionsMonthly>Average Estimated
					Monthly Digital Gross Impressions: </label> <span id="planADigitalImpressionsMonthlyB"
					th:text="${PlanBProposedPageModel?.planADigitalImpressionsMonthly}"></span>
			</div>
			     <script>
            var planADigitalImpressionsMonthlyB = document.getElementById("planADigitalImpressionsMonthlyB").innerHTML;
            planADigitalImpressionsMonthlyB = formatNumber(planADigitalImpressionsMonthlyB); 
            document.getElementById("planADigitalImpressionsMonthlyB").innerHTML = planADigitalImpressionsMonthlyB;
            </script>
			<div class="w3-row topPadding">
				<label for=planAMonthly>Average Base Monthly Advertising
					Investment: </label> <span
					th:text="${PlanBProposedPageModel?.planAMonthly}"></span>
			</div>

			<div class="w3-row topPadding">
				<label for=planADaily>Average Base Daily Advertising
					Investment:</label> <span th:text="${PlanBProposedPageModel?.planADaily}"></span>
			</div>






		</div>


		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
			<a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
				<div class="w3-row">
			<div class="CopyRightId w3-col m8"></div>
			<div class=" w3-col m2"></div>
			<div align="right" class="w3-col m2">-CONFIDENTIAL- 25</div>
		</div>


	</div>

</div>

</div>
