<!-- begin of PresentedTofragment -->
<div th:fragment="PresentedToPage"
	class="grad w3-container pageBreakInside">

	<div th:if="${PublishModel.presentedToPage}">
		<!-- determine if we show presentedToPage content -->

		<div>
			<a id="PresentedToPage"></a>

			<h1 class="text-center w3-text-white">Marketing Solutions</h1>


			<h2 class="text-center w3-text-white">Summary, Conclusions, and
				Recommendations</h2>

		</div>

		<div class="whiteGrad">
			<div align="center" style="padding-top:10%;">
				<h2>Presented To</h2>
				<p class="bold-text" th:text="${PresentedToPage?.clientContactName}"></p>

                <p class="bold-text"
					th:text="${PresentedToPage?.clientBusinessName}"></p>
			</div>
			<div align="center">
				<h2>Presented By</h2>
				<p class="bold-text" th:text="${PresentedToPage?.portfolioManagerName}"></p>
				<p class="bold-text" th:text="${PresentedToPage?.station}"></p>
			</div>
			<div class="position-bottom">
			<p> <small>Copyright © 1984-2020 Executive Decision Systems, Inc. and The
				Guld Resource Group, LLC. The data, formulas, and other content in
				these materials are the property of Executive Decision Systems, Inc.
				and The Guld Resource Group, LLC and are protected by copyright and
				other intellectual property laws. No part of these materials may be
				reproduced, distributed, or used in any way without a license
				agreement or other written consent of The Guld Resource Group, LLC
				permitting such use. All rights reserved. To report violations,
				please call (804) 356-7006.</small></p>
			</div>
		</div>
		<div class="w3-container d-print-none" style="padding-top: 2%;">
			    <button class="w3-btn w3-white" onclick="javascript:printPage();">Share</button>
                 <a href="#TeamCommitmentPage" class="w3-btn w3-white">Next</a>
                <button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
	</div>
	<!-- end of if statement -->

</div>
<!-- end of PresentedTofragment -->
