<div th:fragment="PreviosYearMediaAllocation" class="grad container pageBreakInside"
	style="height: 100%;">
	<div> 
	<a id="PreviosYearMediaAllocation"></a>
		<p class="text-justify">
		<h1 class="text-center">Previous Year Media Allocation</h1>
		</p>
		<p class="text-justify">
		<h2 class="text-center">Summary, Conclusions, and Recommendations</h2>
		</p>
	</div>
<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Eat', 2],
  ['TV', 4],
  ['Gym', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':550, 'height':500};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>


	<div class="container d-print-none" style="padding-top: 2%;">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#">Previous</a></li>
				<li class="page-item"><a class="page-link" href="#TeamCommitmentPage">Next</a></li>
				<li class="page-item"><a class="page-link" href="#">Print</a></li>
				<li class="page-item"><a class="page-link" href="#">End</a></li>
				
			</ul>
		</nav>
	</div>


</div>
