<!-- begin of StrategicMarketingPageTwoFragment -->
<div th:fragment="StrategicMarketingPageTwo"
	class="grad container pageBreakBefore">
	<div th:if="${PublishModel.strategicMarketingPageTwo}">
		<!-- begin if TeamCommitment content -->
		<div>
			<a id="StrategicMarketingPageTwo"></a>
			<div class="text-justify">
				<h1 class="text-center w3-text-white">Strategic Marketing II</h1>
			</div>


		</div>

		<div class="whiteGrad">


			<div class="w3-row" style="padding-top: 2%;"><strong>5. What image does the client want the
				company's name to project to their customers / consumers?</strong></div>
			<div class="w3-row" style="padding-left: 2%;">
				<span
					th:text="${StrategicMarketingPageTwo?.companyNameProjectImage}"></span>
			</div>

			<div class="w3-row" style="padding-top: 2%;"><strong>Current Company
				Slogan</strong></div>
			<div class="w3-row" style="padding-left: 2%;">
				<span th:text="${StrategicMarketingPageTwo?.currentCompanySlogan}"></span>
			</div>

			<div class="w3-row" style="padding-left: 2%;">
				<strong>Does their current slogan project the same image?</strong> <span
					th:text="${StrategicMarketingPageOne?.planToExpand} ? 'Yes' : 'No'">/span>



				
			</div>


			<div class="w3-row" style="padding-top: 2%;">
				<div class="w3-col m6"><strong>6. a. What are your poorest performing
					months?</strong></div>
				<div class="w3-col m6"><strong>7 a. What is the most frequent compliment
					you get?</strong></div>

			</div>





			<div class="w3-row" style="padding-left: 2%;">
				<div class="w3-col m6">
					<span th:text="${StrategicMarketingHelper.poorestMonths}"></span>
				</div>
				<div class="w3-col m6">
					<span th:text="${StrategicMarketingPageThree?.compliments}"></span>
				</div>
			</div>
			
			
			
			<div class="w3-row" style="padding-left: 2%;padding-top: 2%;">
				<div class="w3-col m6">
					<strong>What are your best performing months?</strong>
				</div>
				<div class="w3-col m6">
					<strong>b.  What is the most
								frequent complaint you get?</strong>
				</div>
			</div>
			
			
			<div class="w3-row" style="padding-left: 2%;">
				<div class="w3-col m6">
					<span th:text="${StrategicMarketingHelper.bestMonths}"></span>
				</div>
				<div class="w3-col m6">
					<span th:text="${StrategicMarketingPageThree?.complaint}"></span>
				</div>
			</div>
			
			
			
			<div class="w3-row" style="padding-left: 2%;padding-top: 2%;">	
					<strong>b.  What are your best performing days?</strong>
			</div>
			
			<div class="w3-row" style="padding-left: 2%;">	
					<span th:text="${StrategicMarketingHelper.bestDays}"></span>
			</div>
				
			<div class="w3-row" style="padding-top: 2%;">
				<div class="w3-col m6">
					<strong>8. What digital marketing
								strategies are you currently utilizing? What are your goals and
								how do you measure the effectiveness?</strong>
				</div>
				<div class="w3-col m6">
					<strong>9. Do you have a social media strategy 
								(i.e. Facebook, Google +, Twitter, Instagram, etc.)?  
								If so, what are your goals and how do you measure the effectiveness?</strong>
				</div>
			</div>	
				
				
			<div class="w3-row" style="padding-left: 2%; padding-top:1%;">
				<div class="w3-col m6">
					<span th:text="${StrategicMarketingPageThree?.marketingStrategy}"></span>
				</div>
				<div class="w3-col m6">
					<span th:text="${StrategicMarketingPageThree?.socialStrategy}"></span>
				</div>
			</div>
			

		</div>

		<div class="w3-container d-print-none" style="padding-top: 2%;">
			<button class="w3-btn w3-white" onclick="javascript:printPage();">Print</button>
			<a href="#MarketPlaceCompetitionPage" class="w3-btn w3-white">Next</a>
			<button class="w3-btn w3-white" onclick="javascript:goBack();">Return</button>
		</div>
		<div class="w3-row">
			<div class="CopyRightId w3-col m8"></div>
			<div class=" w3-col m2"></div>
			<div align="right" class="w3-col m2">-CONFIDENTIAL- 5</div>
		</div>


	</div>
	<!-- end of if StrategicMarketingPageTwo content -->



</div>
<!-- end of StrategicMarketingPageTwoFragment -->
