<div th:fragment="TeamCommitmentPage" class="grad container pageBreakBefore"
	style="height: 100%;">
	<div>
	<a id="TeamCommitmentPage"></a>
	
		<p class="text-justify">
		<h1 class="text-center">Team Commitment</h1>
		</p>
		<p class="text-justify">
		<h2 class="text-center">Summary, Conclusions, and Recommendations</h2>
		</p>
	</div>

	<div class="whiteGrad">
		<p>
		<h2>The following proposal will be submitted to​</h2>
		</p>
		<p>
		Your department will be involved in providing these services. 
		Please read our proposal, recommend and bring to our attention any ways in which you feel we can more adequately satisfy our client’s needs. When you are prepared to commit to our clients the necessary effort to make them “more than satisfied,” with the results of our plan, please sign the 
		following certification on behalf of you and your team.
		</p>
		
	</div>
	<div class="container d-print-none"  style="padding-top: 2%;">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#PresentedToPage">Previous</a></li>
				<li class="page-item"><a class="page-link" href="#TeamCommitmentPage">Next</a></li>
				<li class="page-item"><a class="page-link" href="javascript:window.print();">Print</a></li>
				<li class="page-item"><a class="page-link" href="javascript:window.history.back();">End</a></li>
				
			</ul>
		</nav>
	</div>
	
</div>
