<!DOCTYPE>
<html ng-app="myapp" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Web Client</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">

<link rel="stylesheet" href="../css/error.css">
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-latest.js"></script>



</head>


	<body marginwidth="0" marginheight="0">
    <div id="block_error">
        <div>
         <h2><span th:text="${error}" /></h2>
        <h2>Oops you've have encountered an error.</h2>
        <p>
        It appears that Either something went wrong or the page doesn't exist anymore..<br />
        This web site is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
        </p>
        <p>
        If you are the owner of the account and are regularly seeing this error, 
        please contact our Technical Support department.
        </p>
        </div>
    </div>
</body>	
	
			

	

</body>

</html>
