<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Wizard</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">


<!-- Bootstrap CSS-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<!-- Favicon-->
<link rel="shortcut icon" href="./img/tools_wizard.png">
<style>
.grad {
	padding: 10%;
	color: white;
	background-image: linear-gradient(green, black);
	/* Standard syntax (must be last) */
}

.whiteGrad {
	padding: 5%;
	color: black;
	background-image: linear-gradient(white, white);
	/* Standard syntax (must be last) */
}
</style>
</head>
<body>
	<div th:replace="fragments/PresentedToPage :: PresentedToPage"></div>
	<div th:replace="fragments/TeamCommitmentPage :: TeamCommitmentPage"></div>
</body>
</html>